.klarna-on-ajax-loading {
    display: none;
    padding: .25em;
}
.klarna-ajax-loading .klarna-on-ajax-loading {
    display: block;
}
.klarna-ajax-loading .klarna-orders .klarna-on-ajax-loading {
    display: table-row;
}
.klarna-pagination {
    text-align: right;
}
.klarna-order-item.warning {
    color: #f3940e;
}
.klarna-order-detail-wrapper .panel-body {
    font-size: 14px;
}
.klarna-order-detail-wrapper .table {
    font-size: 12px;
}
.klarna-order-detail-wrapper .table ul {
    margin-bottom: 0;
}
#klarna-order-detail-modal .panel-footer .input-group {
    margin-bottom: 0;
}
.klarna-order-detail-wrapper .card {
    height: calc(100% - 2rem);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
}
.klarna-order-detail-wrapper .card-header {
    padding-bottom: 0;
}
.klarna-order-detail-wrapper .modal-footer {
    text-align: right;
}

.klarna-order-actions {
    margin-top: .5rem;
    margin-bottom: 1rem;
}
.klarna-order-actions .disabled {
    cursor: not-allowed;
}

.klarna-order-actions input[type=number]::-webkit-inner-spin-button,
.klarna-order-actions input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button !important;
}

.klarna-order-actions input:invalid {
    border-color: #e10505;
}

.klarna-order-actions .form-text {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in-out;
}
.klarna-order-actions input:invalid ~ .form-text {
    max-height: 60px;
}
.placement_preview-container {
    min-height: 110px;
}

@media (min-width: 1200px) {
    #klarna-order-detail-modal .modal-xl {
        width: 1140px;
    }
}
