.lpa-admin-content .mb-1 {
    margin-bottom: 0.25rem;
}

.lpa-admin-content .mb-2 {
    margin-bottom: 0.5rem;
}

.lpa-admin-content .mb-3 {
    margin-bottom: 1rem;
}

.lpa-admin-content .mt-1 {
    margin-top: 0.25rem;
}

.lpa-admin-content .mt-2 {
    margin-top: 0.5rem;
}

.lpa-admin-content .mt-3 {
    margin-top: 1rem;
}
.lpa-admin-content .card {
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.3);
}
.lpa-admin-content .s360-video {
    cursor: pointer;
}

.lpa-admin-content a,
.lpa-admin-footer a {
    color: #67aacb;
}

.lpa-admin-content .s360-video-container {
    display: none;
}

.lpa-admin-footer {
    text-align: center;
    font-size: smaller;
}

.lpa-reset-options:hover {
    cursor: pointer;
    color: red;
}
.lpa-pagination {
    text-align: right;
}


@mixin status-info(){
    color: #31708f;
    background-color: #d9edf7;
}

@mixin status-success(){
    color: #3c763d;
    background-color: #dff0d8;
}

@mixin status-warn(){
    color: #8a6d3b;
    background-color: #fcf8e3;
}

@mixin status-danger(){
    color: #a94442;
    background-color: #f2dede;
}

// Define default status colors when no reasons are given

.lpa-status-open,
.lpa-status-pending {
    @include status-info();
}

.lpa-status-completed,
.lpa-status-captured,
.lpa-status-closed,
.lpa-status-chargeable,
.lpa-status-authorized,
.lpa-status-refunded {
    @include status-success();
}

.lpa-status-suspended,
.lpa-status-warning,
.lpa-status-nonchargeable,
.lpa-status-authorizationinitiated,
.lpa-status-captureinitiated,
.lpa-status-refundinitiated {
    @include status-warn();
}

.lpa-status-canceled,
.lpa-status-declined,
.lpa-status-danger {
    @include status-danger();
}

// Override colors for specific payment objects with given status reason codes
.lpa-amazon-order-status {
    &.lpa-status-chargeable {
        @include status-warn();
    }
    &.lpa-status-nonchargeable {
        @include status-danger();
        &.lpa-status-reason-chargeinprogress,
        &.lpa-status-reason-transactionamountexceeded {
            @include status-warn();
        }
    }
    &.lpa-status-closed {
        @include status-success();
        &.lpa-status-reason-buyercanceled,
        &.lpa-status-reason-amazoncanceled,
        &.lpa-status-reason-expired {
            @include status-danger();
        }
    }
}

.lpa-charge-status {
    &.lpa-status-authorizationinitiated,
    &.lpa-status-captureinitiated{
        @include status-warn();
    }
    &.lpa-status-authorized {
        @include status-info();
    }
    &.lpa-status-captured {
        @include status-success();
    }
    &.lpa-status-declined {
        @include status-danger();
    }
    &.lpa-status-canceled {
        @include status-danger();
        &.lpa-status-reason-merchantcanceled,
        &.lpa-status-reason-chargepermissioncanceled {
            @include status-info();
        }

    }
}

.lpa-refund-status {
    &.lpa-status-refundinitiated {
        @include status-warn();
    }
    &.lpa-status-declined {
        @include status-danger();
    }
    &.lpa-status-refunded {
        @include status-success();
    }
}

.lpa-on-ajax-loading {
    display: none;
}
.col-12.lpa-on-ajax-loading {
    padding: 1em;
}
.lpa-ajax-loading .lpa-on-ajax-loading {
    display: block;
}
.modal-backdrop {
    background-color: #075692;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.lpa-order-detail-wrapper {
    background-color: #fff;
    padding: 0.5rem;
}
.lpa-order-table-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
}
.lpa-order-item,
.lpa-order-item-row,
.lpa-charge-item-row,
.lpa-capture-item-row,
.lpa-refund-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.lpa-order-item {
    background-color: #fafaff;
}
.lpa-3-cols .lpa-order-table-column {
    flex-basis: calc(100% / 3);
}
.lpa-4-cols .lpa-order-table-column {
    flex-basis: calc(100% / 4);
}
.lpa-5-cols .lpa-order-table-column {
    flex-basis: calc(100% / 5);
}
.lpa-6-cols .lpa-order-table-column {
    flex-basis: calc(100% / 6);
}
.lpa-7-cols .lpa-order-table-column {
    flex-basis: calc(100% / 7);
}
.lpa-8-cols .lpa-order-table-column {
    flex-basis: calc(100% / 8);
}
.lpa-order-table-column {
    display: flex;
    flex-grow: 1;
    padding: 0.25em;
}

.lpa-sandbox:after {
    content: '(Sandbox)';
    font-size: 12px;
    font-weight: bold;
    color: #075692;
    margin-left: 0.5em;
    line-height: 2em;
}

#lpa-create-key-publickey pre {
    font-size: 16px;
}