//
// Platz für eigene Variablen in SCSS-Notation
//
// Alle Änderungen hier müssen anschließend mit einem SCSS-Compiler
// (z.B. dem JTL-Theme-Editor Plugin) nach my-nova.css kompiliert werden
// --------------------------------------------------

// my-nova Theme
// Hier können alle Variablen notiert werden, die nur Auswirkungen auf dieses Theme haben
// -------------------Beginn eigene Variablen----------------------------------

$footer-bg-color: #264267;
$footer-color: #ffffff;

$font-family-sans-serif: Roboto, sans-serif !default;
$font-accent: Roboto, sans-serif !default;

$h1-font-size: 1.6rem;
$headings-font-weight: 500;
$headings-color: #333333;

$gray-lighter: #f5f5f5;
$gray-dark: #333333 !default;

$link-color: $gray-dark !default;

$font-weight-semibold		: 500 !default;
$font-weight-bold			: 500 !default;
$font-weight-bolder         : 500 !default;


// -------------------Ende eigene Variablen----------------------------------

// Lädt clear-Variablen
@import '../../../../NOVA/themes/clear/sass/variables';

// passt die Pfade an
$nova-theme-path:                   "../../../NOVA/themes";
$fa-font-path:                      "../../../NOVA/themes/base/fontawesome/webfonts";