//
// Platz für eigene Style Angaben in SCSS-Notation
//
// Alle Änderungen hier müssen anschließend mit einem SCSS-Compiler
// (z.B. dem JTL-Theme-Editor Plugin) nach my-nova.css kompiliert werden
// --------------------------------------------------

// Lädt Core-Funktionen
@import '../../../../NOVA/themes/base/sass/functions';

// Lädt "my-nova"-Variablen. Hier können Variablen aus Bootstrap und dem clear-Theme überschrieben werden.
@import "variables";

// Lädt Style Angaben des clear-Themes
@import '../../../../NOVA/themes/clear/sass/allstyles';

// my-nova Theme
// Hier können alle Style-Angaben notiert werden, die nur Auswirkungen auf dieses Theme haben
// -----------------------------------------------------

//Vorkassepreis auf Artikeldetailsseite anpassen

.sp20upUhr24Vorkassepreis {
    color:grey;
    margin-top:-0.5rem;
    padding-bottom:0.5rem;
}

div#shipping-estimated img {
    max-width:200px;
}


// Kommentarfeld im Checkout hervorheben
textarea#comment.form-control.checkout-confirmation-comment {
    padding:0.5rem !important;
    box-shadow: inset 0 0 0.25rem $primary !important;
}

.card-header{
    min-height:45px;
}

// Farben WMS Plugin Countdown ändern. Die Cuntdown Farbe wird in der basket.tpl geändert
// /httpdocs/plugins/wnm_order_countdown/frontend
#alert_versand_countdown {
    color: #666;
    background-color: #f2f2f2;
    border-color: #fff;
    }
.alert-danger.b {
 color: #1C871E !important;
}


// Schließen aus Consent Banner entfernen
 #consent-banner-btn-close {
    height:0px;
    visibility:hidden;
    margin:0px;
    padding:0px;
    font-size:0px;
    } 


// Artikeldetailseite - Merkmalliste Hintergrund entfernen
.badge-primary {
background-color:transparent;
font-size:100%;
}

//Beschreibung Anzeigen
#shortdesc {
    display: block !important;
}
.d-dm-block {
    display:block !important;
}



// Artikeldetailsseite - Box - Artikel in Warenkorb gelegt
#pushed-success {
    box-shadow: 0 0.125rem 0.25rem rgb(0, 0, 0);
}

//Unterkategoorien Button
.sp20up-btn-subcategory {
    display:block;
    margin-left:5%;
    margin-right:5%;
    box-shadow: 0 0.125rem 0.125rem dimgrey;
    color:#333333 !important;
}

//Unterunterkategorie Button
.sp20up-btn-subsubcategory {
    display:block;
    margin-left:5%;
    margin-right:5%;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
    padding:0;
    color:#333333 !important;
    text-shadow:0 !important;
}

//Abstände von 3rem auf 1.5rem setzen auf Kategorieseiten
.content-cats-small {
    margin-bottom: 1.5rem;
}


//Direkt zu PayPal anpassen
 //@media only screen and (max-width: 574px) {
//.btn-ppe-article {
 //   width: 100%;
 //   margin: 1rem auto;
//}
//}

 //@media only screen and (min-width: 575px) {
//.btn-ppe-article {
//    position:absolute;
//    left:5%;
//    margin-top:0.5rem;
//}
//}

#alert_versand_countdown {
    margin-top:1.5rem;
}


//Button Runden
.btn {
    border-radius:0.4rem;
}

//Artikeldetailseite Hintergrund
.sp20uptest {
}

//Artikeldetailsseite Varationsartikel Überschift
.variations dt {
    font-weight:500;
    font-size: 1.1rem;
}


.sp20upslider {
    padding:0 !important;
    border-color:grey;
}
html body.wish-compare-animation-mobile header#jtl-nav-wrapper.d-print-none.sticky-top.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 ul#shop-nav.nav.nav-right.order-lg-last.nav-icons li#search.nav-item div.search-wrapper form div.form-icon div.input-group div.input-group-append button.btn.btn-secondary
{
    background-color:$primary ;
}


//Rahmen um PayPal Payment Box

//#paymentMethodContainer {
  //  border: 1px solid rgba(0, 0, 0, 0.125) !important;
//}

//#ppp-container {
  //  border: 1px solid rgba(0, 0, 0, 0.125) !important;
//}