.klarna_combined_payment {
    padding-bottom: 20px;
}

.klarna_combined_payment:last-child {
    padding-bottom: 0;
}

.klarna_combined_payment.active > .s360-klarna-payment-combined {
    display: block;
}

.klarna_combined_payment > .s360-klarna-payment-combined {
    display: none;
}

.klarna_combined_payment .klarna-title {
    cursor: pointer;
}

.klarna_combined_payment .klarna_combined_input[type="radio"] {
    margin-left: -35px;
}
.klarna_combined_payment .klarna_combined_input[type="radio"]:checked {
    top: 50%;
    transform: translateY(-50%);
}

.klarna-title {
    margin-bottom: 4px;
}