<p>
	<a href="{$article->cURL}">
		{if isset($oSuchspecialoverlay_arr.bestseller->cBildPfad) && $oSuchspecialoverlay_arr.bestseller->cBildPfad|count_characters > 0 && $oSuchspecialoverlay_arr.bestseller->nAktiv > 0}
		<img src="{$article->cVorschaubild}" alt="{$article->Bilder[0]->cAltAttribut|strip_tags|escape:"quotes"|truncate:60}" class="image" id="kk_slider_overlay_{$drop._internal.runtimeId}_{$article->kArtikel}" />                  
		<script type="text/javascript">
			set_overlay('#kk_slider_overlay_{$drop._internal.runtimeId}_{$article->kArtikel}', '{$article->oSuchspecialBild->nPosition}', '{$article->oSuchspecialBild->nMargin}', '{$article->oSuchspecialBild->cPfadKlein}');
		</script>
		{else}
		<img src="{$article->cVorschaubild}" class="image" alt="{$article->Bilder[0]->cAltAttribut|strip_tags|escape:"quotes"|truncate:60}" />
		{/if}
	</a>
</p>
<p><a href="{$article->cURL}">{$article->cName|truncate:50}</a></p>
{include file="tpl_inc/artikel_preis.tpl" scope="content" Artikel=$article}