/*
 * Platz für eigene Änderungen direkt als CSS
 * Die hier gemachten Änderungen überschreiben ggfs. andere Styles, da diese Datei als letzte geladen wird.
 */




@import url("//fonts.googleapis.com/css?family=Roboto:400,500,600,700,900");

@font-face {
    src: url("../../../NOVA/themes/base/fontawesome/webfonts/fa-brands-400.eot");
	src: url("../../../NOVA/themes/base/fontawesome/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-brands-400.woff2") format("woff2"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-brands-400.woff") format("woff"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-brands-400.ttf") format("truetype"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

  font-display: swap;
  src: url("../../../NOVA/themes/base/fontawesome/webfonts/fa-regular-400.eot");
  src: url("../../../NOVA/themes/base/fontawesome/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-regular-400.woff2") format("woff2"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-regular-400.woff") format("woff"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-regular-400.ttf") format("truetype"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

  font-display: swap;
  src: url("../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.eot");
  src: url("../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.woff2") format("woff2"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.woff") format("woff"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.ttf") format("truetype"), url("../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}

a {
	color: #333333;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto, sans-serif;
  color: #333333;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #f1f1f1;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: #f1f1f1;
}

.table .thead-light th {
  color: #333333;
}

.form-control:focus {
  color: #333333;
  border-color: #FFA601;
}

select.form-control:focus::-ms-value {
  color: #333333;
}

.valid-tooltip {
  color: #f1f1f1;
}

.invalid-tooltip {
  color: #f1f1f1;
}

.btn {
  font-weight: 500;
}

.btn-primary {
  color: #333333;
  background-color: #FFA601;
  border-color: #FFA601;
}

.btn-primary:hover {
  color: #333333;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #333333;
  background-color: #FFA601;
  border-color: #FFA601;
}

.btn-secondary {
  color: #f1f1f1;
  background-color: #264267;
}

.btn-secondary:hover {
  color: #f1f1f1;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #f1f1f1;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle, .show > .btn-secondary[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-success {
  color: #f1f1f1;
}

.btn-success:hover {
  color: #f1f1f1;
}

.btn-success.disabled, .btn-success:disabled {
  color: #f1f1f1;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle, .show > .btn-success[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-info {
  color: #f1f1f1;
}

.btn-info:hover {
  color: #f1f1f1;
}

.btn-info.disabled, .btn-info:disabled {
  color: #f1f1f1;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle, .show > .btn-info[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-warning {
  color: #333333;
}

.btn-warning:hover {
  color: #333333;
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #333333;
}

.btn-light.disabled, .btn-light:disabled {
  color: #333333;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle, .show > .btn-light[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}
.btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus, .show > .btn-light.dropdown-toggle:focus, .show > .btn-light[data-toggle=collapse]:focus:not(.navbar-toggler) {
  box-shadow: 0 0 0 0 rgba(221, 222, 225, 0.5);
}

.btn-dark {
  color: #f1f1f1;
}

.btn-dark:hover {
  color: #f1f1f1;
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #f1f1f1;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle, .show > .btn-dark[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-gray {
  color: #f1f1f1;
}

.btn-gray:hover {
  color: #f1f1f1;
}

.btn-gray.disabled, .btn-gray:disabled {
  color: #f1f1f1;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active, .show > .btn-gray.dropdown-toggle, .show > .btn-gray[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-gray-light {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-gray-light:hover {
  color: #333333;
}

.btn-gray-light.disabled, .btn-gray-light:disabled {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-gray-light:not(:disabled):not(.disabled):active, .btn-gray-light:not(:disabled):not(.disabled).active, .show > .btn-gray-light.dropdown-toggle, .show > .btn-gray-light[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}

.btn-gray-medium {
  color: #333333;
}

.btn-gray-medium:hover {
  color: #333333;
}

.btn-gray-medium.disabled, .btn-gray-medium:disabled {
  color: #333333;
}

.btn-gray-medium:not(:disabled):not(.disabled):active, .btn-gray-medium:not(:disabled):not(.disabled).active, .show > .btn-gray-medium.dropdown-toggle, .show > .btn-gray-medium[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}

.btn-gray-dark {
  color: #333333;
}

.btn-gray-dark:hover {
  color: #f1f1f1;
}

.btn-gray-dark.disabled, .btn-gray-dark:disabled {
  color: #333333;
}

.btn-gray-dark:not(:disabled):not(.disabled):active, .btn-gray-dark:not(:disabled):not(.disabled).active, .show > .btn-gray-dark.dropdown-toggle, .show > .btn-gray-dark[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-gray-darker {
  color: #f1f1f1;
}

.btn-gray-darker:hover {
  color: #f1f1f1;
}

.btn-gray-darker.disabled, .btn-gray-darker:disabled {
  color: #f1f1f1;
}

.btn-gray-darker:not(:disabled):not(.disabled):active, .btn-gray-darker:not(:disabled):not(.disabled).active, .show > .btn-gray-darker.dropdown-toggle, .show > .btn-gray-darker[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-primary {
  color: #FFA601;
  border-color: #FFA601;
}

.btn-outline-primary:hover {
  color: #333333;
  background-color: #FFA601;
  border-color: #FFA601;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #FFA601;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-outline-primary[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
  background-color: #FFA601;
  border-color: #FFA601;
}

.btn-outline-secondary {
  color: #333333;
}

.btn-outline-secondary:hover {
  color: #f1f1f1;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #333333;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle, .show > .btn-outline-secondary[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-success:hover {
  color: #f1f1f1;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle, .show > .btn-outline-success[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-info {
  color: #333333;
}
.btn-outline-info:hover {
  color: #f1f1f1;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #333333;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle, .show > .btn-outline-info[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-warning:hover {
  color: #333333;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active, .show > .btn-outline-warning.dropdown-toggle, .show > .btn-outline-warning[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}

.btn-outline-danger:hover {
  color: #f1f1f1;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active, .show > .btn-outline-danger.dropdown-toggle, .show > .btn-outline-danger[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-light {
  color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-outline-light:hover {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

}
.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #f1f1f1;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active, .show > .btn-outline-light.dropdown-toggle, .show > .btn-outline-light[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-outline-dark {
  color: #333333;
}

.btn-outline-dark:hover {
  color: #f1f1f1;
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #333333;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-dark.dropdown-toggle, .show > .btn-outline-dark[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-gray:hover {
  color: #f1f1f1;
}

.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-gray.dropdown-toggle, .show > .btn-outline-gray[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-outline-gray-light {
  color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-outline-gray-light:hover {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-outline-gray-light.disabled, .btn-outline-gray-light:disabled {
  color: #f1f1f1;
}

.btn-outline-gray-light:not(:disabled):not(.disabled):active, .btn-outline-gray-light:not(:disabled):not(.disabled).active, .show > .btn-outline-gray-light.dropdown-toggle, .show > .btn-outline-gray-light[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-outline-gray-medium:hover {
  color: #333333;
}

.btn-outline-gray-medium:not(:disabled):not(.disabled):active, .btn-outline-gray-medium:not(:disabled):not(.disabled).active, .show > .btn-outline-gray-medium.dropdown-toggle, .show > .btn-outline-gray-medium[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}

.btn-outline-gray-dark:hover {
  color: #333333;
}

.btn-outline-gray-dark:not(:disabled):not(.disabled):active, .btn-outline-gray-dark:not(:disabled):not(.disabled).active, .show > .btn-outline-gray-dark.dropdown-toggle, .show > .btn-outline-gray-dark[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}
.btn-outline-gray-darker {
  color: #333333;
}

.btn-outline-gray-darker:hover {
  color: #f1f1f1;
}

.btn-outline-gray-darker.disabled, .btn-outline-gray-darker:disabled {
  color: #333333;
}

.btn-outline-gray-darker:not(:disabled):not(.disabled):active, .btn-outline-gray-darker:not(:disabled):not(.disabled).active, .show > .btn-outline-gray-darker.dropdown-toggle, .show > .btn-outline-gray-darker[data-toggle=collapse]:not(.navbar-toggler) {
  color: #f1f1f1;
}

.btn-link {
  color: #333333;
}
.btn-link:hover {
  color: #FFA601;
}

.dropdown-menu {
  color: #333333;
}

.dropdown-item {
  color: #333333;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #333333;
  background-color: #f1f1f1;
}

.dropdown-item.active, .dropdown-item:active {
  color: #333333;
  background-color: #f1f1f1;
}

.dropdown-item-text {
  color: #333333;
}

.input-group-text {
  color: #333333;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  border-color: #FFA601;
  background-color: #FFA601;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #FFA601;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #FFA601;
  background-color: #FFA601;
}

.custom-select {
  color: #333333;
}

.custom-select:focus {
  border-color: #FFA601;
}

.custom-select:focus::-ms-value {
  color: #333333;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #FFA601;
}

.custom-file-label::after {
  color: #333333;
}

.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #f1f1f1, none;
}

.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #f1f1f1, none;
}

.custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #f1f1f1, none;
}

.custom-range::-webkit-slider-thumb {
  background-color: #FFA601;
}

.custom-range::-moz-range-thumb {
  background-color: #FFA601;
}

.custom-range::-ms-thumb {
  background-color: #FFA601;
}

.card {
  border: 1px solid #f1f1f1;
}

.card-header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.card-footer {
  background-color: #f1f1f1;
  border-top: 1px solid #f1f1f1;
}

.breadcrumb-item.active {
  color: #333333;
}

.page-link, .page-text {
  color: #333333;
}

.page-link:hover, .page-text:hover {
  color: #FFA601;
}

.page-item.active .page-link, .page-item.active .page-text {
  color: #333333;
}

.badge-primary {
  color: #333333;
  background-color: #FFA601;
}

a.badge-primary:hover, a.badge-primary:focus {
  color: #333333;
}

.badge-secondary {
  color: #f1f1f1;
}

a.badge-secondary:hover, a.badge-secondary:focus {
  color: #f1f1f1;
}

.badge-success {
  color: #f1f1f1;
}

a.badge-success:hover, a.badge-success:focus {
  color: #f1f1f1;
}

.badge-info {
  color: #f1f1f1;
}

a.badge-info:hover, a.badge-info:focus {
  color: #f1f1f1;
}

.badge-warning {
  color: #333333;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #333333;
}

.badge-danger {
  color: #f1f1f1;
}

a.badge-danger:hover, a.badge-danger:focus {
  color: #f1f1f1;
}

.badge-light {
  color: #333333;
}

a.badge-light:hover, a.badge-light:focus {
  color: #333333;
}

.badge-dark {
  color: #f1f1f1;
}

a.badge-dark:hover, a.badge-dark:focus {
  color: #f1f1f1;
}

.badge-gray {
  color: #f1f1f1;
}

a.badge-gray:hover, a.badge-gray:focus {
  color: #f1f1f1;
}

.badge-gray-light {
  color: #333333;
}

a.badge-gray-light:hover, a.badge-gray-light:focus {
  color: #333333;
}

.badge-gray-medium {
  color: #333333;
}

a.badge-gray-medium:hover, a.badge-gray-medium:focus {
  color: #333333;
}

.badge-gray-dark {
  color: #333333;
}

a.badge-gray-dark:hover, a.badge-gray-dark:focus {
  color: #333333;
}

.badge-gray-darker {
  color: #f1f1f1;
}

a.badge-gray-darker:hover, a.badge-gray-darker:focus {
  color: #f1f1f1;
}

.progress {
  background-color: #f1f1f1;
}

.progress-bar {
  background-color: #FFA601;
}

.list-group-item-action {
  color: #333333;
}

.list-group-item-action:hover, .list-group-item-action:focus {
  color: #333333;
  background-color: #f1f1f1;
}

.list-group-item.active {
  color: #ffffff;
  background-color: #FFA601;
  border-color: #FFA601;
}

.tooltip {
  font-family: Roboto, sans-serif;
}

.tooltip-inner {
  color: #333333;
}

.popover {
  font-family: Roboto, sans-serif;
}

.popover-header {
  color: #333333;
}

.bg-primary {
  background-color: #FFA601 !important;
}

.bg-light {
  background-color: #f1f1f1 !important;
}

.bg-gray-light {
  background-color: #f1f1f1 !important;
}

.border-primary {
  border-color: #FFA601 !important;
}

.border-light {
  border-color: #f1f1f1 !important;
}

.border-gray-light {
  border-color: #f1f1f1 !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.text-primary {
  color: #FFA601 !important;
}

.text-light {
  color: #f1f1f1 !important;
}

.text-gray-light {
  color: #f1f1f1 !important;
}

.file-preview-image {
  font: 40px Impact, Charcoal, sans-serif;
  color: #28a745;
}

.krajee-default .file-thumb-progress .progress-bar {
  font-family: Roboto, sans-serif;
}

.kv-upload-progress .progress-bar {
  font-family: Roboto, sans-serif;
}

.nivoSlider a.nivo-imageLink {
  background-color: #ffffff;
}

.nivo-caption {
  color: #ffffff;
}

.theme-light .nivo-caption {
  font-family: Roboto, sans-serif;
}

.theme-default .nivo-caption {
  font-family: Roboto, sans-serif;
}

.theme-dark .nivo-caption {
  font-family: Roboto, sans-serif;
}

.theme-bar .nivo-directionNav a {
  font-family: Roboto, sans-serif;
}

.theme-bar .nivo-caption {
  font-family: Roboto, sans-serif;
}

.badge {
  color: #f1f1f1;
}

.badge-outline-primary {
  border-color: #FFA601;
  color: #FFA601;
}
a.badge-outline-primary:hover, a.badge-outline-primary:focus {
  color: #333333;
}

.badge-outline-secondary {
  color: #333333;
}

a.badge-outline-secondary:hover, a.badge-outline-secondary:focus {
  color: #f1f1f1;
}

a.badge-outline-success:hover, a.badge-outline-success:focus {
  color: #f1f1f1;
}

.badge-outline-info {
  color: #333333;
}

a.badge-outline-info:hover, a.badge-outline-info:focus {
  color: #f1f1f1;
}

a.badge-outline-warning:hover, a.badge-outline-warning:focus {
  color: #333333;
}

a.badge-outline-danger:hover, a.badge-outline-danger:focus {
  color: #f1f1f1;
}

.badge-outline-light {
  border-color: #f1f1f1;
  color: #f1f1f1;
}
a.badge-outline-light:hover, a.badge-outline-light:focus {
  color: #333333;
}

.badge-outline-dark {
  color: #333333;
}

a.badge-outline-dark:hover, a.badge-outline-dark:focus {
  color: #f1f1f1;
}

a.badge-outline-gray:hover, a.badge-outline-gray:focus {
  color: #f1f1f1;
}

.badge-outline-gray-light {
  border-color: #f1f1f1;
  color: #f1f1f1;
}
a.badge-outline-gray-light:hover, a.badge-outline-gray-light:focus {
  color: #333333;
}

a.badge-outline-gray-medium:hover, a.badge-outline-gray-medium:focus {
  color: #333333;
}

a.badge-outline-gray-dark:hover, a.badge-outline-gray-dark:focus {
  color: #333333;
}

.badge-outline-gray-darker {
  color: #333333;
}
a.badge-outline-gray-darker:hover, a.badge-outline-gray-darker:focus {
  color: #f1f1f1;
}

.badge-light {
  color: #333333;
}

.badge-outline-secondary {
  color: #333333;
}

.bubble {
  border: 2px solid #f1f1f1;
}

.badge-check {
  border: 2px solid #FFA601;
}

.badge-check .badge-circle {
  background-color: #FFA601;
  border-color: #FFA601;
}

.box-categories .dropdown .collapse,
.box-linkgroup .dropdown .collapse {
  background: #f1f1f1;
}

.box_login .register .fa {
  color: #FFA601;
}

.jqcloud-word a:hover {
  color: #FFA601 !important;
}

.breadcrumb-item.active {
  font-weight: 500;
}

.btn-primary:hover {
  color: #333333;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .show > .btn-primary[data-toggle=collapse]:not(.navbar-toggler) {
  background-color: #FFA601;
  border-color: #FFA601;
  color: #333333;
}

.btn-outline-primary {
  border-color: #FFA601;
  color: #333333;
}

.btn-outline-primary:hover {
  color: #333333;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-outline-primary[data-toggle=collapse]:not(.navbar-toggler) {
  border-color: #FFA601;
  background-color: #FFA601;
  color: #333333;
}

.btn-outline-secondary {
  color: #333333;
}

.btn-outline-secondary:hover {
  color: #333333;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle, .show > .btn-outline-secondary[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}

.btn-icon-primary:hover {
  border-color: #FFA601;
  color: #FFA601;
}

.btn-icon-primary:not(:disabled):not(.disabled):active, .btn-icon-primary:not(:disabled):not(.disabled).active, .show > .btn-icon-primary.dropdown-toggle, .show > .btn-icon-primary[data-toggle=collapse]:not(.navbar-toggler) {
  border-color: #FFA601;
  background-color: #FFA601;
}

.btn-icon-secondary {
  color: #333333;
}

.btn-icon-secondary:not(:disabled):not(.disabled):active, .btn-icon-secondary:not(:disabled):not(.disabled).active, .show > .btn-icon-secondary.dropdown-toggle, .show > .btn-icon-secondary[data-toggle=collapse]:not(.navbar-toggler) {
  border-color: #FFA601;
  background-color: #FFA601;
}

.btn-animated .btn-primary:hover {
  background-color: #FFA601;
  border-color: #FFA601;
}

.btn-animated .btn-outline-primary::after {
  background-color: #FFA601;
}

.btn-animated .btn-outline-primary:hover {
  border-color: #FFA601;
}

.btn-animated .btn-outline-primary:hover::after {
  background: #FFA601;
}

.btn-light {
  color: #333333;
}
.btn-light:hover {
  color: #333333;
}

.btn-light.disabled, .btn-light:disabled {
  color: #333333;
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle, .show > .btn-light[data-toggle=collapse]:not(.navbar-toggler) {
  color: #333333;
}

.btn-light:hover {
  color: #333333;
}

.badge-circle:hover, .badge-circle:focus {
  background-color: #FFA601;
  border-color: #FFA601;
}

.badge-circle-1:hover {
  color: #333333;
}

.badge-circle-1.on-list {
  border: 1.5px solid #FFA601;
  background-color: #FFA601;
}

.card-gray {
  background: #f1f1f1;
}

.card-products .card-header .btn {
  background: #f1f1f1;
}

.slick-arrow:hover {
  background-color: #FFA601;
  color: #ffffff;
}

.swatches-image.active {
  border: 1px solid #FFA601;
}

.swatches-text.active {
  border: 1px solid #FFA601;
  background-color: #f1f1f1;
  font-weight: 500;
}

.form-counter .form-control {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.form-counter .input-group-text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.form-counter .btn:hover {
  background-color: #f1f1f1;
}

.form-icon-trigger-label:hover {
  color: #FFA601;
}

.bootstrap-select.custom-select button.dropdown-toggle:focus, .bootstrap-select.custom-select button[data-toggle=collapse]:focus:not(.navbar-toggler) {
  border-color: #FFA601;
}

.bootstrap-select.custom-select.show button.dropdown-toggle, .bootstrap-select.custom-select.show button[data-toggle=collapse]:not(.navbar-toggler) {
  border-color: #FFA601;
}

.fa-sup {
  background-color: #FFA601;
  font-family: Roboto, sans-serif;
  color: #333333;
}

.modal-header .close:hover {
  background-color: #FFA601;
}

.page-item.active {
  font-size: larger;
  font-weight: 500;
}

.page-item.active .page-link::after, .page-item.active .page-text::after {
  border-bottom: 4px solid #FFA601;
}

  .pagination .dropdown-item.active {
    color: #333333;
  }

@media (max-width: 767.98px) {
  .pagination .dropdown-item.active .page-link, .pagination .dropdown-item.active .page-text, .pagination .dropdown-item:active .page-link, .pagination .dropdown-item:active .page-text {
    color: #333333;
  }
}

.pagination-wrapper {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.productbox-image {
  margin-bottom: 1rem;
}

.noUi-horizontal .noUi-connect {
  background: #FFA601;
}

.noUi-horizontal .noUi-handle {
  background: #FFA601;
}

.ribbon-1 {
  color: #333333;
}

.ribbon-2 {
  color: #f1f1f1;
}

.ribbon-3 {
  color: #f1f1f1;
}

.ribbon-4 {
  color: #333333;
}

.ribbon-5 {
  color: #333333;
}

.ribbon-6 {
  color: #333333;
}

.ribbon-7 {
  color: #f1f1f1;
}

.ribbon-8 {
  color: #f1f1f1;
}

.ribbon-9 {
  color: #f1f1f1;
}

.stepper {
  background: #f1f1f1;
}

.stepper .step::after {
  border-left: 1.875rem solid #f1f1f1;
}

.stepper .step-active .step-content::after {
  background: #FFA601;
}

.stepper .step-active .step-text {
  font-weight: 500;
}

@media (max-width: 991.98px) {
  .stepper .step-current .step-content::after {
    background: #FFA601;
  }
}

.tab-navigation .nav-link::after {
  border-color: #FFA601;
}

.alert-info {
  color: #333333;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.bg-info {
  background-color: #f1f1f1 !important;
}

.text-truncate {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.text-truncate-fade::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f1f1f1 50%);
}

header > [class*=container],
#main-wrapper #content-wrapper {
  background: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
}

header > [class*=container],
#main-wrapper #content-wrapper {
  box-shadow: none;
  background: transparent;
}

header, #main-wrapper {
  background: #ffffff;
}

.tt-dropdown-menu .tt-suggestion, . .tt-suggestion {
  color: #333333;
}

html body.wish-compare-animation-mobile header#jtl-nav-wrapper.d-print-none.sticky-top.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 {
	padding-bottom:0;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor, .tt-dropdown-menu .tt-suggestion:hover, .tt-menu .tt-suggestion.tt-cursor, .tt-menu .tt-suggestion:hover {
  background-color: #f1f1f1;
  color: #333333;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a, .tt-dropdown-menu .tt-suggestion:hover a, .tt-menu .tt-suggestion.tt-cursor a, .tt-menu .tt-suggestion:hover a {
  color: #333333;
}

#footer {
  background-color: #264267;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  text-decoration: underline;
}

#footer .card .card-title {
  color: #333333;
}

#footer #copyright {
  background-color: #686b6b;
  color: #f1f1f1;
}

.newsbox-headline {
    font-weight: 500;
	font-size: 1.1rem;
	line-height: 1.5rem
}

.hr-sect {
	color: #333333;
}

header .navbar-nav > .nav-item > .nav-link::before {
    border-width: 0 0 8px 0;
    border-color: #FFA601;
 }

aside .nav-panel > .nav > .active > .nav-link {
  border-bottom: 0.375rem solid #FFA601;
}

.nav-tabs {
  border-bottom: 1px solid #C0C0C0;
}

.hr-sect::before, .hr-sect::after {
  /* background: rgba(0, 0, 0, 0.4); */
  border: 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

html body.wish-compare-animation-mobile main#main-wrapper div#content-wrapper div#content div.container div.slider-wrapper.theme-bar.direction-nav {
	margin-top: 64px;
}


/* =======================================================================*/


body {
	font-family: Roboto, "Open Sans", sans-serif;
	font-weight: 400;
	color: #333333;
}

header {
  box-shadow: 0 1rem 0.5625rem -0.75rem rgba(0, 0, 0, 0.4);
}

a {
	color: #333333;
}

p {
	font-size: 16px;
	margin-bottom: 1.3em;
}

/* .card-header {
	background-color: #264267;
	color: #ffffff;
} */

.scroll-top-inner {
	color: #264267;
}

.slider-wrapper {
	margin-bottom: 1em;
}

h2 {
		font-weight: 500;
}

strong {
		font-weight: 500;
}

.fas.fa-long-arrow-alt-right {
		color: #264267;
}

.fas.fa-long-arrow-alt-left {
		color: #264267;
}

button.btn.compare.badge.badge-circle-1.action-tip-animation-b.btn-secondary {
		background: none;
		border: none;
		float: right;
		height: 50%;
		margin: 0;
		padding: 0;
		width: 22px;
}

 button.btn.wishlist.badge.badge-circle-1.action-tip-animation-b.btn-secondary {
		background: none;
		border: none;
		height: 50%;
		margin: 0;
		padding: 0;
		width: 22px;
}

div.productbox-quick-actions {
		top: 0;
		right:0;
		text-align: right;
}

.attr-custom {
		color: #333333;
}

.attr-custom .h6 {
		font-weight: 500;
}
#tab-link-description {
		color: #333333;
}

 div.price.d-inline-block.h1 {
		color: #CF101A;
}

li span.status.status-2 {
		font-size: larger;
}

.productlist-filter-headline {
		font-weight: 500;
		letter-spacing: 1px;
}

a.last-seen-link {
		text-decoration: none;
}

a.nav-link.px-2.dropdown-toggle {
		letter-spacing: 1px;
}

a.text-clamp-2 {
		text-decoration: none;
}

.card.box.box-last-seen.mb-4 div.card-body div.row div.col.col-8 div.price_wrapper.mb-4 div.price.d-inline-block.productbox-price {
		font-size: 1em;
}

div.productbox-title.mt-2 a.text-clamp-2 {
		font-size: larger;
}

div.col.product-wrapper {
	text-align: center;
}

#quantity-grp {
	display: none;
}

#artikeldetail_HAN {
	font-size: 50%;
}

.artikelliste_hersteller {
	color: #a0a0a0;
	font-size: 90%;
	margin: 0;
}

.artikelliste_bezeichnung {
	font-size: 90%;
	line-height: 120%;
}

.artikelslider_hersteller {
	color: #a0a0a0;
	font-size: 90%;
	margin: 1.5em 0 0 0;
	text-transform: uppercase;
}

.artikelslider_bezeichnung a {
	font-size: 90%;
	line-height: 120%;
}

div.product-wrapper a {
	text-decoration: none;
}

div.price.d-inline-block.productbox-price {
		color: #CF101A;
}

div.dropdown-menu ul.nav li.nav-item a.nav-link span.text-truncate.d-block {
		font-weight: 400;
}

div.product-wrapper.slick-slide.slick-active a div.text-center span.text-clamp-2.d-block span {
		text-decoration: none;
}

a.nav-link.dropdown-toggle {
		color: #000;
}

a:hover.nav-link {
		color: #333333;
		font-weight: 500;
		text-shadow: 0px 0px 8px #aaa;
}

a.nav-link.dropdown-toggle a:hover {
		text-decoration: none;
}

div.price.d-inline-block.h1 span {
		font-size: smaller;
}

html body footer#footer div.h2 {
		color: #fff;
}

div#result-wrapper h3 {
		font-weight: 500;
}

span.fas.fa-user {
		font-size: 1.0rem;
}

.fas.fa-shopping-cart {
		font-size: 1.0rem;
}

a.newsbox-headline.stretched-link {
		font-size: larger;
		font-weight: 500;
		text-decoration: none;
}

.newsbox-footer {
		font-weight: 500;
}

div.col.font-weight-bold.mb-3.mb-md-0.col-auto {
		font-weight: 400;		
}

/*span.text-clamp-2.d-block {
		font-size: larger;
		text-decoration: none;
}*/

.container-fluid.px-0	{
		background-color: #f1f1f1;
}

div.container.breadcrumb-container {
		margin-top: 40px;
}

div.row.breadcrumb-wrapper.no-gutters.align-items-center {
		background-color: #f1f1f1;
}

div.product-info-inner div.shortdesc.mb-2.d-none.d-md-block ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
}

div.product-info-inner div.shortdesc.mb-2.d-none.d-md-block li::first-letter {
		font-weight: 500;
		font-size: larger;
}

#footer div.container.d-print-none.pt-4 hr {
		border-top: 1px solid rgb(255, 255, 255);
}

.schrift_kontakt {
		font-size: 1em;
}

.logo_zahlungsarten {
	background-color: #fff;
	border-color: #c0c0c0;
	border-style: solid;
	border-width: 1px;
	margin: 8px 8px 8px 0;
	padding: 8px;
	vertical-align: middle;
	width: 80px;
}

.logo_dhl {
	margin: 16px 8px 8px 0;
	padding: 14px 6px 6px 6px;
	vertical-align: middle;
	width: 100px;
}

.text_zahlungsarten {
	vertical-align: middle
}

.text_dhl {
	padding-top: 16px;
	vertical-align: middle;
}

html body footer#footer div.productlist-filter-headline {
		color:#fff;
		overflow-wrap: break-word;
		line-height: 1.2;
		font-size: 1.5em;
		font-weight: 400;
}

#last_seen_Hersteller {
		font-weight: 500;
}

.box_comparelist_hersteller{
		font-weight: 500;
}

div.list-group-item.border-0 a {
		text-decoration: none
}

.box_comparelist {
	float:right;
	font-size:1em;
	height:3em;
	line-height:1.1em;
	margin:0;
	padding:0;
	width:84%;
}

div.box_comparelist div.price.d-inline-block.productbox-price {
	color:#0ff;
	font-size: 0.5 !important;
}

aside .nav-panel .active > .nav-link {
    font-weight: 500;
}

.text-accent, .productbox-price, .tab-navigation .nav-link {
    font-family: Roboto, sans-serif !important;
    font-weight: 500 !important;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 12px;
}

div.caption.text-md-center.mb-2 {
	color: #264267;
	font-weight: 500;
	font-size: larger;
	text-align: left !important;
}

ul.list-unstyled.d-none.d-md-block {
	margin-bottom: 4rem;
}

.nav-link {
	padding: .3rem 2rem;
}

ul.nav.flex-column li.nav-item.dropdown {
	padding: 0 0 0 0;
}

ul.nav.flex-column li.nav-item {
	padding: 0 0 0 .5rem;
}

.nav-panel {
	font-size: larger;
}

#footer-zeile-vorteile {
	background-color: #ffa601;
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0.3em 0 0.3em 0;
	border-bottom: solid;
	border: 0 0 1px 0;
	border-color: #fff
}

.footer-zeile-vorteile {
	display: inline-block;
	padding: 0 2em 0 2em;
	font-size: 1.2em
}

#menue-startseite-wrapper {
	margin: 0 auto 1rem auto;
	max-width: 1206px;
	text-align: center;
}

.menue-startseite {
	display: flex;
	justify-content: space-around;
	border:1px solid #cccccc;
	height:36px;
	padding-top:8px;
	background: rgb(250,250,250);
	background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(to bottom,  rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%);
	border-bottom-color:#aaaaaa;
	font-size:1.5em
}

.menue-startseite {
	margin: 0 0 0.2rem 0;
	padding: 0;
	width: auto
}

.menue-startseite-fa-caret-right {
	font-size: smaller;
	padding-left: 1rem
}


/* border: 1px 1px 1px 1px;
border-top-color: #cccccc;
border-right-color: #cccccc;
border-bottom-color:#aaaaaa;
border-left-color: #cccccc;
font-size:1.5em */

.menue-startseite a {text-decoration: none; border-right:1px solid #cccccc; width: 25%}
.menue-startseite a:focus{color:#264267; background-color: #FFA601}
.menue-startseite a:hover{color:#264267; background-color: #FFA601}
.menue-startseite a:active{background: none; background-color:#FFA601}


.mehr-lesen {
	position: relative;
	max-height: 280px;
	overflow: hidden;
}

.mehr-lesen .read-more {
	background-image: linear-gradient( hsla(360,0%,100%,0) 0%, hsl(360,0%,100%) 100%);
	background: -webkit-linear-gradient(bottom, white, white 1%, rgba(255,255,255,0));
	bottom: 0;
	height: 80px;
	position: absolute;
	width: 100%;
    background: -moz-linear-gradient(0deg, white, transparent); /* For Firefox 3.6 to 15 */
    background: -o-linear-gradient(0deg, white, transparent); /* For Opera 11.1 to 12.0 */
    background: linear-gradient(0deg, white, transparent); /* Standard syntax (must be last) */
}

.mehr-text {
	background-color: white;
	bottom: -24px;
	color: #000;
	text-align: right;
	padding: 0 16px 4px 0;
	position: absolute;
	width: 100%;
}