$labelFontSize: 0.85rem;
$step-icon-size: 56px;
$spacing-base: 8px;
$spacing-1: 1 * $spacing-base;
$spacing-2: 2 * $spacing-base;
$spacing-3: 3 * $spacing-base;
$spacing-4: 4 * $spacing-base;
$spacing-5: 5 * $spacing-base;
$jtl-header-height: 72px;
$header-height: 80px;
$side-bar-width: 240px;
$jtl-side-bar-width: 240px;
$jtl-top-bar-Height-Lg: 72px;
$jtl-top-bar-Height-Sm: 56px;