.isLoading {
  &:before {
    content: "";
    display: block;
    position: absolute;
    //background-color: rgba(var(--tabBackground),.65);
    background-color: var(--processing-bg);
    transition: all 200ms ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9998;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-image: var(--loader-url);
    background-position: center center;
    background-size: cover;
    transition: all 200ms ease;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    pointer-events: none;
    z-index: 9999;
  }
  opacity: 1;
  pointer-events: auto;
}