.backend-wrapper > .backend-main > .backend-navbar {
  box-shadow: 2px 4px 4px rgba(0,0,0,0.015) !important;
}

.bmd-layout-canvas {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.bmd-layout-content {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: var(--themeShade1);

  .card {
    background-color: var(--themeShade2);
    box-shadow: none;
    border-radius: 0;
  }
}

.knm_custom_dashboard {
  height: 100%;
  color: var(--primaryFontColor);

  @import "_variables";
  @import "mixins";
  @import "header";
  @import "loader";
  @import "libs/flag-icon";
  @import "forms";
  @import "custom";
  @import "global/_include";
  @import "tabs";
  @import "components/_include";
  @import "fields/_include";
}

// to fit dashboard into JTL LAYOUT
.backend-content {
  position: relative;
  padding: 0;
}
#content .tabs > .tab-content > .tab-pane:first-child {
  display: none;
}

#content .tabs > .tab-content > .tab-pane:last-child {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: var(--themeShade1);
  overflow-y: auto;
  overflow-x: hidden;
}

.knm-jtl-license {
  h2 {
    display: none;
  }
  tbody tr:first-child {
    display: none;
    padding: 8px 16px 8px 0px;
  }
  tbody tr td, tbody tr th {
    border: none;
    padding: 8px 16px 8px 0px;
  }

  tbody tr {
    background-color: transparent!important;
    color: var(--primaryFontColor)
  }
  p {
    display: none;
  }
}