input, .form-control:disabled, .form-control[readonly] {
  background-color: var(--themeShade2);
  border-radius: 0;
  color: var(--primaryFontColor);
  border-color: rgb(170, 170, 170);
}
label {
  margin-bottom: 0;
}