.checkbox {
  position: relative;
}

.checkbox label {
  padding-left: 32px
}

input[type="checkbox"] {
  display: none
}

input[type="checkbox"] + .box:before,
input[type="checkbox"] + .box:after {
  transition: all .3s
}

input[type="checkbox"] + .box:after {
  position: absolute;
  left: 4px;
  top: 0;
  display: inline-block;
  content: ' ';
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 2px;
  background-color: transparent;
  z-index: 1;
}

input[type="checkbox"]:checked + .box:after {
  background-color: var(--primary);
  border-color: var(--primary);
}

input[type="checkbox"]:checked + .box:before {
  transform: rotate(45deg);
  position: absolute;
  left: 12px;
  top: 2px;
  width: 6px;
  height: 13px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-color: #fff;
  content: '';
  z-index: 2;
}