.knowmates-form-group .file-input {

  .file-caption {
    height: auto;
    border-radius: 0;
    color: var(--primaryFontColor);
    background-color: var(--themeShade2);
    border-color: #aaa;
  }


  .file-caption-name {
    color: var(--primaryFontColor);
    padding:0 0 0 15px;
  }

  .fileinput-remove {
    overflow: hidden;
    font-size: 20px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    color: var(--primaryFontColor);
    box-shadow: none;
  }
  .fileinput-remove:hover {
    color: var(--danger);
  }
}