.checkbox.checkbox-switch {
  padding-left: 0;
}

.checkbox.checkbox-switch label,
.checkbox-inline.checkbox-switch {
  display: inline-block;
  position: relative;
  padding-left: 0;
}

.checkbox.checkbox-switch label {
  width: 100%;
  display: flex;
}

.checkbox.checkbox-switch label span:first-child {
  display: flex;
}

.checkbox.checkbox-switch label input,
.checkbox-inline.checkbox-switch input {
  display: none;
}
.checkbox.checkbox-switch label span:last-child,
.checkbox-inline.checkbox-switch span:last-child {
  width: 35px;
  border-radius: 20px;
  height: 18px;
  background-color: #7e7e7e;
  box-shadow: rgb(223, 223, 223) 0 0 0 0 inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  vertical-align: middle;
  display: inline-block;
  margin: auto 5px auto auto;
}

.checkbox.checkbox-switch label span:last-child:before,
.checkbox-inline.checkbox-switch span:last-child:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(255,255,255);
  content: " ";
  position: relative;
  left: -2px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  top:-1px;
}
.checkbox.checkbox-switch label > input:checked + span:last-child:before,
.checkbox-inline.checkbox-switch > input:checked + span:last-child:before {
  left: 16px;
  top:-1px;
}

/* Switch Primary */
.checkbox.checkbox-switch.switch-primary label > input:checked + span:last-child,
.checkbox-inline.checkbox-switch.switch-primary > input:checked + span:last-child {
  background-color: var(--success);
  border-color: var(--success);
  /*box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;*/
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checkbox-switch.switch-primary label > input:checked:disabled + span:last-child,
.checkbox-inline.checkbox-switch.switch-primary > input:checked:disabled + span:last-child {
  background-color: #7e7e7e;
  border-color: #7e7e7e;
  /* box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;*/
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

