{if $settings->get('tpl_support') === 'Evo'}<div id="{$id}" class="row btn-group top15"><div class="ppc-message {$pos} btn"></div></div>{else}<div id="{$id}" class="row basket-form-inline text-center mt-3"><div class="ppc-message {$pos} col col-12"></div></div>{/if}