{block name='productdetails-price'}{if $smarty.session.Kundengruppe->mayViewPrices()}<div class="price_wrapper">
<div class="price {if $priceLarge|default:false}h1{else}productbox-price{/if}{if isset($Artikel->Preise->Sonderpreis_aktiv) && $Artikel->Preise->Sonderpreis_aktiv} special-price{/if}">{block name='productdetails-range'}
<span{if $Artikel->Preise->oPriceRange->isRange() && $tplscope !== 'box'} itemprop="priceSpecification" itemscope itemtype="http://schema.org/UnitPriceSpecification"{/if}>{if $tplscope !== 'detail' && $Artikel->Preise->oPriceRange->isRange()}{$Artikel->Preise->oPriceRange->getMinLocalized($NettoPreise)}<span class="footnote-reference">*</span>{/if}{if $tplscope !== 'detail' && !$Artikel->Preise->oPriceRange->isRange()}{$Artikel->Preise->oPriceRange->getMinLocalized($NettoPreise)}<span class="footnote-reference">*</span>{/if}{/block}</div></div>{else}{block name='productdetails-price-price-note'}{/block}{/if}{/block}
