﻿/*@import ../../../NOVA/themes/base/fonts/futural.ttf;*/




a{text-decoration:none}
a:hover{color:#ffa601}
a.text-decoration-none-util,div.blog-header div.hr-sect.h2 a{font-weight:500}
a:hover.nav-link{font-weight:500}
a.nav-link.dropdown-toggle{color:#101010;letter-spacing:1px}
a:hover.nav-link.dropdown-toggle{color:#FFA601;padding-bottom:.9rem;border-bottom:3px solid #FFA601}
a.nav-link.snippets-categories-nav-link-child{letter-spacing:1px;text-shadow:none}
div.hr-sect.h2 a.text-decoration-none-util{color:#264267}
div.blog-header div.hr-sect.h2 a{color:#264267}
a.nav-link.snippets-categories-nav-link-child{color:#101010;font-weight:500}
hr{border-color:#264267}
aside .nav-panel > .nav > .active > .nav-link{border-bottom:.375rem solid #f8bf00}
#footer-boxes a:hover.nav-link{font-weight:500;text-shadow:none}
div.dropdown-menu div.dropdown-body a:hover{color:#ffa601;letter-spacing:1px}
p a{color:#333}
h1{font-weight:400}
.newsbox-headline{color:#333;font-weight:500}
.hr-sect::before,.hr-sect::after{border:0;height:1px;background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))}
b strong{font-weight:500}
html body.wish-compare-animation-mobile header#jtl-nav-wrapper.d-print-none.sticky-top.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 div#mainNavigation.collapse.navbar-collapse.nav-scrollbar div.nav-mobile-body ul.navbar-nav.nav-scrollbar-inner.mr-auto li.nav-item.nav-scrollbar-item.dropdown.dropdown-full div.dropdown-menu div.dropdown-body{padding-top:2.5rem;padding-left:2rem}
.btn-outline-secondary{color:#333!important}
.btn-outline-secondary:hover{background-color:#fff;border-bottom:4px solid #f8bf00;color:#264267;padding-bottom:7px}
div.dropdown.filter-type-FilterItemSort.btn-group.show button.btn.btn-outline-secondary.dropdown-toggle{background-color:#264267;color:#fff}
div.dropdown.filter-type-FilterItemLimits.btn-group.show button.btn.btn-outline-secondary.dropdown-toggle{background-color:#264267;color:#fff}
div.dropdown-menu.show a.dropdown-item.page-nav-filter-item{color:#333}
span.status.status-1 span.fas.fa-truck.status-icon{color:#14c42070}
span.status.status-2 span.fas.fa-truck.status-icon{color:#14c420}
#header-top-leiste{background-color:#f1f1f1;list-style-type:none;margin:0;padding:.5em;text-align:center}
#header-top-leiste li{display:inline-block;padding:0 2em}
#header-bottom-leiste{background-color:#264267;color:#efefef;font-size:16px;margin:0rem 0 1em;padding:0 0 1px;text-align:center}
@media (max-width: 991px) {
#header-bottom-leiste{margin:0rem 0 1em}
}
#header-bottom-leiste-code{background-color:#fc0;color:#000;padding-left:6px;padding-right:6px}
#shop-logo{max-width:160px}
html body.wish-compare-animation-mobile header#jtl-nav-wrapper.d-print-none.sticky-top.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 ul#shop-nav.nav.nav-right.order-lg-last.nav-icons li#search.nav-item div.search-wrapper form div.form-icon div.input-group div.input-group-append button.btn.btn-secondary{background-color:#fc0}
html body.wish-compare-animation-mobile.is-mobile div.container-fluid.container-fluid-xl.fixed-search.fixed-top.smoothscroll-top-search.d-lg-none div.search-wrapper.w-100-util form.main-search.flex-grow-1.label-slide div.input-group div.input-group-append button.btn.btn-secondary{background-color:#264267}
html body.wish-compare-animation-mobile.is-mobile header#jtl-nav-wrapper.d-print-none.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 div.d-lg-none.search-form-wrapper-fixed.container-fluid.container-fluid-xl.order-1 div.search-wrapper.w-100-util form.main-search.flex-grow-1.label-slide div.input-group div.input-group-append button.btn.btn-secondary{background-color:#264267}
#mainNavigation{font-size:18px;font-weight:400}
html body.wish-compare-animation-mobile header#jtl-nav-wrapper.d-print-none.sticky-top.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 div#mainNavigation.collapse.navbar-collapse.nav-scrollbar div.nav-mobile-body ul.navbar-nav.nav-scrollbar-inner.mr-auto li.nav-item.nav-scrollbar-item.active a.nav-link span.text-truncate.d-block{color:#CF101A;letter-spacing:1px}
html body.wish-compare-animation-mobile header#jtl-nav-wrapper.d-print-none.sticky-top.fixed-navbar div.container-fluid.container-fluid-xl nav.navbar.justify-content-start.align-items-lg-end.navbar-expand-lg.navbar-expand-1 div#mainNavigation.collapse.navbar-collapse.nav-scrollbar div.nav-mobile-body ul.navbar-nav.nav-scrollbar-inner.mr-auto li.nav-item.nav-scrollbar-item a.nav-link span.text-truncate.d-block{color:#CF101A;letter-spacing:1px}
header .submenu-headline-toplevel{color:#264267;font-weight:400}
.in_image{width:64px;height:64px;border-radius:50px;padding:2px;background-position:center;background-size:contain;background-repeat:no-repeat}
.cat_url{margin-bottom:0;margin-left:1.3em}
.top_m{margin-top:.9em}
.menu-item{display:flex;align-content:flex-end;align-items:center;margin-bottom:.5em;position:relative}
.goodback{margin:0 10%;background:#F4F4F4}
.short{margin:0 20%}
.transpar{background:transparent}
.cath{padding-left:3em;text-transform:uppercase;font-weight:300;font-size:18px;line-height:26px}
.short_sub{justify-content:space-between}
.padd_img{border:.7px solid rgba(51,51,51,0.3);border-radius:50px;padding:4px}
header .nav-item-lg-m{margin-top:.1em;margin-bottom:.1em}
html body.wish-compare-animation-mobile main#main-wrapper div#content-wrapper div#content div.container.link-content h1{margin-top:16px}
.breadcrumb{font-size:14px}
#content{padding-bottom:1rem}
ul.nav.flex-column li.nav-item.dropdown.active div.collapse.snippets-categories-collapse.show ul.nav.flex-column li.nav-item.dropdown{border-bottom:1px solid silver}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row aside#sidepanel_left.sidepanel-left.d-print-none.col-12.col-lg-4.col-xl-3.order-lg-0.dropdown-full-width div#sidebox-categories-135.card.box.box-normal.box-categories.word-break div.card-body div#crd-cllps-135.collapse.d-md-block div.nav-panel ul.nav.flex-column li.nav-item.dropdown.active span.nav-link.dropdown-toggle a{font-size:16px}
.header-flex{display:flex;justify-content:space-between;align-items:center;height:inherit}
.nav-mobile-header-name{margin-top:15px;height:40px}
.nav-offcanvas-title{font-size:1.5em;float:left;position:absolute}
.append_name{text-align:center;font-size:1.4em}
.mob_disabled{font-size:26px;position:absolute;right:.6em}
.accountflex{display:flex;align-items:center}
.accountflex .fa-user-circle{font-size:36px}
.accountflex .fa-user{font-size:28px}
.accountflex .fa-shopping-cart{font-size:30px}
.accountflex .fa-shopping-bag{font-size:28px}
.pro-word{color:#333;margin-left:1em}
.pro-flex a{display:flex;align-items:center}
#footer a{color:#fff}
#footer a:hover{color:#fc0}
#footer #newcopyright { display: flex; flex-wrap: wrap;align-items: center; justify-content: space-around;margin: 0 6em;}
#footer #newcopyright div{ margin-bottom:1em}
#footer .socialuns { display: flex;}
#footer .socialuns li{ margin: 0 0.5em;}
#footer .btn-secondary{background:#ffa601;width:3.8em;color:#fff;border:1px solid #fff}
#tab_logos_kundeninfo{align:left;border:0;cellpadding:0;cellspacing:0;margin-top:1.5rem;width:100%}
#footer .logo_shopauskunft{border:none;margin:0 .5em 0 0;width:80px;height:80px}
#footer .logo_dhl{padding-top:2.2rem;vertical-align:middle;width:100px}
.text_dhl{font-size:14px;padding:32px 0 0 8px}
#footer h2,.newsletter-footer-heading,.productlist-filter-headline{color:#fff}
#footer .productlist-filter-headline{font-size:1.5em;line-height:1.2;margin:0 0 1em}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row aside#sidepanel_left.sidepanel-left.d-print-none.col-12.col-lg-4.col-xl-3.order-lg-0.dropdown-full-width div#sidebox-categories-135.card.box.box-normal.box-categories.word-break div.card-body div.productlist-filter-headline.d-none.d-md-flex{border-bottom:2px solid #264267;color:#333;font-size:1.2rem;margin-bottom:0}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row aside#sidepanel_left.sidepanel-left.d-print-none.col-12.col-lg-4.col-xl-3.order-lg-0.dropdown-full-width div#sidebox136.card.box.box-last-seen.mb-4 div.card-body div.productlist-filter-headline{border-bottom:2px solid #264267;color:#333;font-size:1.2rem}
html body.wish-compare-animation-mobile footer#footer.newsletter-active div.container.d-print-none div#footer-boxes.row div.col.col-sm-6.col-md-4.col-lg-3.col-12 div#sidebox151.card.box.box-custom.box-normal div.card-body p.productlist-filter-headline{color:#fff}
html body.wish-compare-animation-mobile footer#footer.newsletter-active div.container.d-print-none div#footer-boxes.row div.col.col-sm-6.col-md-4.col-lg-3.col-12 div#sidebox156.card.box.box-custom.box-normal div.card-body div.card.box.box-linkgroup.mb-md-7.text-left><a.aria-controls= div.productlist-filter-headline.d-none.d-md-flex{color:#fff}
#footer-zeile-vorteile{background-color:#ffa601;list-style-type:none;text-align:center;margin:20px 0 0;padding:.3em 0;border-bottom:solid;border:0 0 1px 0;border-color:#fff}
.footer-zeile-vorteile{display:inline-block;padding:0 2em;font-size:1.2em}
#menue-startseite-wrapper{margin:1rem auto;max-width:1206px;text-align:center}
.menue-startseite{display:flex;justify-content:space-around;border:1px solid silver;height:32px;background:#fafafa;background:-moz-linear-gradient(top,rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%);background:-webkit-linear-gradient(top,rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%);background:linear-gradient(to bottom,rgba(250,250,250,1) 0%,rgba(204,204,204,1) 100%);border-bottom-color:#a0a0a0;font-size:1.4em;margin:0 0 .2rem;padding:0;width:auto}
.menue-startseite-fa-caret-right{font-size:smaller;padding-left:1rem}
.menue-startseite a{color:#202020;text-decoration:none;padding-bottom:4px;border-right:1px solid silver;width:25%}
.menue-startseite a:focus{color:#264267;background-color:#FFA601}
.menue-startseite a:hover{color:#264267;background-color:#FFA601}
.menue-startseite a:active{background:none;background-color:#FFA601}
#menue-start{margin:1rem auto .5rem;max-width:1218px;text-align:center}
#menue-liste{font-size:1.25rem;list-style-type:none;text-align:center;margin:0;padding:0}
.menue-liste{background-color:#fcfcfc;display:inline-block;border:1px solid silver;border-radius:2px;margin:0 0 8px;padding-left:8px;padding-bottom:0;padding-right:8px}
ul#menue-liste li{color:#264267}
ul#menue-liste li:hover{border-bottom:4px solid #f8bf00;letter-spacing:0;margin-bottom:-4px}
.menue-liste-fa-caret-right{color:#264267;font-size:smaller;padding:0 0 0 .5rem}
.mehr-lesen{position:relative;max-height:200px;overflow:hidden}
.mehr-lesen .read-more{bottom:0;height:80px;position:absolute;width:100%;background:-moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)}
.mehr-text{background-color:#fff;bottom:-24px;color:#000;text-align:right;padding:0 16px 4px 0;position:absolute;width:100%}
div.sub-categories div div.caption{text-align:left}
div.sub-categories div ul.d-none.d-md-block li a{font-weight:500}
div.sub-categories div ul.d-none.d-md-block li a:hover{color:#ffa601;letter-spacing:1px}
div.price.h1{color:#CF101A;font-size:1.5rem}
div.sub-categories div ul.d-none.d-md-block{padding-left:0}
div.sub-categories div ul.d-none.d-md-block li{list-style-type:none}
div.sub-categories div div.caption a{color:#264267;font-size:18px;font-weight:500}
div.sub-categories div div.caption a:hover{color:#ffa601;letter-spacing:1px}
a.newsbox-headline{color:#264267}
a:hover.newsbox-headline{color:#ffa601;letter-spacing:1px}
span.nav-link.dropdown-toggle a{color:#264267;letter-spacing:1px;font-size:16px;font-weight:500}
a.nav-link.snippets-categories-nav-link-child{color:#000;letter-spacing:1px;font-size:16px;font-weight:500}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row aside#sidepanel_left.sidepanel-left.d-print-none.col-12.col-lg-4.col-xl-3.order-lg-0.dropdown-full-width div#sidebox-categories-135.card.box.box-normal.box-categories.word-break div.card-body div#crd-cllps-135.collapse.d-md-block div.nav-panel ul.nav.flex-column li.nav-item a.nav-link{color:#264267;letter-spacing:1px;font-size:16px;font-weight:500}
.attr-custom{color:#333}
.attr-custom .h6{color:#333;font-size:14px;font-weight:500}
#tab-link-description{color:#333}
div.product-attributes table.table.table-sm.table-striped.table-bordered-outline{line-height:1rem}
#footer.newsletter-active div.container.d-print-none div.row.footer-social-media div.col.footer-additional-wrapper.col-auto.mx-auto.col-12 ul.list-unstyled li a:hover{color:inherit}
div#existing-customer.col.checkout-existing-customer.col-lg-4.col-12 div.card.card-gray div.card-body a.paypalexpress.btn-ppe-checkout{margin-top:1rem}
div.product-info-inner div.shortdesc.mb-2.d-none.d-md-block ul{list-style-type:circle}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row div.col-lg-8.col-xl-9.ml-auto-util.order-lg-1 div#result-wrapper div.row.row-eq-height.content-cats-small div.col.col-md-4.col-lg-3.col-12 div.sub-categories div div.caption a{font-weight:400;text-shadow:0 0 8px silver}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row div.col-lg-8.col-xl-9.ml-auto-util.order-lg-1 div#result-wrapper div.row.row-eq-height.content-cats-small div.col.col-md-4.col-lg-3.col-12 div.sub-categories div hr.d-none.d-md-block{margin-bottom:.3rem}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row div.col-lg-8.col-xl-9.ml-auto-util.order-lg-1 div#result-wrapper div.row.row-eq-height.content-cats-small div.col.col-md-4.col-lg-3.col-12 div.sub-categories div ul.d-none.d-md-block{margin-bottom:1.3rem}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row aside#sidepanel_left.sidepanel-left.d-print-none.col-12.col-lg-4.col-xl-3.order-lg-0.dropdown-full-width div#sidebox136.card.box.box-last-seen.mb-4 div.card-body div.row div.col.col-8 a.last-seen-link{font-size:smaller;line-height:.7rem}
.card.box.box-last-seen.mb-4 div.card-body div.row div.col.col-8 div.price_wrapper.mb-4 div.price.d-inline-block.productbox-price{font-size:1em}
div.productbox-title.mt-2 a.text-clamp-2{font-size:larger}
div.col.product-wrapper{text-align:center}
div.price_wrapper div.price.productbox-price.special-price{color:#CF101A}
div.price-note div.instead-of.old-price{font-size:larger}
#quantity-grp{display:none}
#artikeldetail_HAN{font-size:50%}
.artikelliste_hersteller{color:#a0a0a0;font-size:90%;margin:0}
.artikelliste_bezeichnung{font-size:90%;line-height:120%}
.artikelslider_hersteller{color:#a0a0a0;font-size:90%;margin:1.5em 0 0;text-transform:uppercase}
.artikelslider_bezeichnung a{font-size:90%;line-height:120%}
div.product-wrapper a{text-decoration:none}
div.price.d-inline-block.productbox-price{color:#CF101A}
div.dropdown-menu ul.nav li.nav-item a.nav-link span.text-truncate.d-block{font-weight:400}
div.product-wrapper.slick-slide.slick-active a div.text-center span.text-clamp-2.d-block span{text-decoration:none}
#last_seen_Hersteller{font-weight:500}
.box_comparelist_hersteller{font-weight:500}
div.list-group-item.border-0 a{text-decoration:none}
.box_comparelist{float:right;font-size:1em;height:3em;line-height:1.1em;margin:0;padding:0;width:84%}
div.box_comparelist div.price.d-inline-block.productbox-price{color:#0ff;font-size:.5px!important}
div.price_wrapper div.price-note span.vat_info{font-weight:500}
thead tr th.comparelist-item.sticky-top.min-w div.stretched span a{font-weight:500}
div.nav-panel ul.nav.flex-column li.nav-item.dropdown.active span.nav-link.dropdown-toggle a{letter-spacing:none;text-shadow:0 0 8px silver}
ul.nav.flex-column li.nav-item.dropdown.active span.nav-link.snippets-categories-nav-link-child.dropdown-toggle a{font-weight:400}
ul.nav.flex-column li.nav-item a.nav-link.snippets-categories-nav-link-child{letter-spacing:0}
ul.nav.flex-column li.nav-item a:hover.nav-link.snippets-categories-nav-link-child{color:#ffa601;letter-spacing:1px}
.page-item.active{font-size:larger;font-weight:500}
.page-item.active .page-link::after,.page-item.active .page-text::after{border-bottom:4px solid #FFA601}
.pagination .dropdown-item.active{color:#333}
@media (max-width: 767.98px) {
h1{font-size:1.2rem}
h2{font-size:1rem}
html body.wish-compare-animation-mobile.is-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row aside#sidepanel_left.sidepanel-left.d-print-none.col-12.col-lg-4.col-xl-3.order-lg-0.dropdown-full-width div#sidebox-categories-135.card.box.box-normal.box-categories.word-break div.card-body a#crd-hdr-135.box-normal-link.dropdown-toggle{color:#264267;font-size:1.3rem}
.pagination .dropdown-item.active .page-link,.pagination .dropdown-item.active .page-text,.pagination .dropdown-item:active .page-link,.pagination .dropdown-item:active .page-text{color:#333}
}
.pagination-wrapper{border-top:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1}
html body.wish-compare-animation-mobile.is-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row div.col-lg-8.col-xl-9.ml-auto-util.order-lg-1 div#result-wrapper div.row.row-eq-height.content-cats-small div.col.col-md-4.col-lg-3.col-12 div.sub-categories div ul.d-none.d-md-block li a{line-height:3rem}
.breadcrumb-wrapper{border-style:solid;border-color:#d0d0d0;border-width:1px 0}
ul.navbar-nav.nav-scrollbar-inner.mr-auto li.nav-item.nav-scrollbar-item.dropdown.dropdown-full.active a.nav-link.dropdown-toggle{border-width:4px}
.status-kategorieseite{margin:10px 0 -4px}
div.productbox-inner div.row div.col.col-12 span.status.status-1{color:#264267}
div.productbox-inner div.row div.col.col-12 span.status.status-2{color:#264267}
div.gallery404{margin:24px auto 0;max-width:1224px}
@media (max-width: 767.98px) {
#container_logoblock{display:none}
#menue404{display:none}
}
#logoblock{float:left;margin:16px auto 32px}
#logoblock li{list-style-type:none;float:left;margin-top:4px;margin-right:4px}
#logoblock a{height:102px;width:174px;display:block}
#logoblock a:hover{border-bottom:4px solid #f8bf00}
#logoblock #armani_exchange{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 0}
#logoblock #bering{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px 0}
#logoblock #boley{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px 0}
#logoblock #bruno_soehnle{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px 0}
#logoblock #cai{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px 0}
#logoblock #calvin_klein{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px 0}
#logoblock #cluse{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px 0}
#logoblock #daniel_wellington{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 -102px}
#logoblock #danish_designl{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px -102px}
#logoblock #davidoff{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px -102px}
#logoblock #diesel{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px -102px}
#logoblock #diesel_on{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px -102px}
#logoblock #dugena{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px -102px}
#logoblock #emporio_armani_connected{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px -102px}
#logoblock #emporio_armani{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 -204px}
#logoblock #engelsrufer{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px -204px}
#logoblock #esprit{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px -204px}
#logoblock #filius{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px -204px}
#logoblock #flik_flak{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px -204px}
#logoblock #fossil{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px -204px}
#logoblock #fossil_q{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px -204px}
#logoblock #garmin{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 -306px}
#logoblock #hirsch{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px -306px}
#logoblock #hugo_boss{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px -306px}
#logoblock #ice_watch{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px -306px}
#logoblock #jacob_jensen{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px -306px}
#logoblock #joop{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px -306px}
#logoblock #junghans{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px -306px}
#logoblock #luminox{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 -408px}
#logoblock #michael_kors{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px -408px}
#logoblock #michael_kors_access{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px -408px}
#logoblock #michel_herbelin{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px -408px}
#logoblock #mido{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px -408px}
#logoblock #mondaine{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px -408px}
#logoblock #movado{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px -408px}
#logoblock #nokia{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 -510px}
#logoblock #pippi_langstrumpf{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px -510px}
#logoblock #police{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px -510px}
#logoblock #regent{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px -510px}
#logoblock #s_oliver{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px -510px}
#logoblock #samsung{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px -510px}
#logoblock #skagen_connected{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px -510px}
#logoblock #skagen{background:url(/mediafiles/Bilder/logoblock/logoblock.png) 0 -612px}
#logoblock #swatch{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -174px -612px}
#logoblock #tissot{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -348px -612px}
#logoblock #tommy_hilfiger{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -522px -612px}
#logoblock #viita{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -696px -612px}
#logoblock #withings{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -870px -612px}
#logoblock #grau{background:url(/mediafiles/Bilder/logoblock/logoblock.png) -1044px -612px}
html body.wish-compare-animation-mobile main#main-wrapper div#content-wrapper div#content div#result-wrapper div.container nav.tab-navigation div#tab-content-product-tabs.tab-content div#tab-description.tab-pane.fade.show.active div.product-attributes table.table.table-sm.table-striped.table-bordered-outline tbody tr td.attr-characteristic a.badge.badge-light{background-color:transparent;color:#333;font-size:inherit;font-weight:400;padding:0}
html body.wish-compare-animation-mobile main#main-wrapper div#content-wrapper div#content div#result-wrapper div.container nav.tab-navigation div#tab-content-product-tabs.tab-content div#tab-description.tab-pane.fade.show.active div.product-attributes table.table.table-sm.table-striped.table-bordered-outline tbody tr td.attr-characteristic a:hover.badge.badge-light{letter-spacing:0}
html body.wish-compare-animation-mobile main#main-wrapper div#content-wrapper div#content div#consent-manager.active div#consent-banner div.consent-banner-body div.consent-banner-actions div.consent-btn-helper div button#consent-banner-btn-close.consent-btn.consent-btn-outline-primary.btn-block{display:none;padding:0;width:0}
#consent-manager{font-family:Roboto;font-weight:400;margin-bottom:20%;color:#333}
#consent-banner{border-color:#264267}
.consent-btn-helper > div{width:100%}
.consent-display-2{font-weight:500}
html body.wish-compare-animation-mobile main#main-wrapper div#content-wrapper div#content div#consent-manager.active div#consent-banner div.consent-banner-body div.consent-banner-actions div.consent-btn-helper div button#consent-banner-btn-settings.consent-btn.consent-btn-secondary.btn-block{font-weight:400}
html body.wish-compare-animation-mobile main#main-wrapper.aside-active div#content-wrapper.is-item-list.container-fluid.container-fluid-xl div#content div.row div.col-lg-8.col-xl-9.ml-auto-util.order-lg-1 div#consent-manager.active div#consent-settings.consent-modal.active.show div.consent-modal-content button.consent-modal-close{display:none}
.consent-banner-icon{border:.0625rem solid #264267}
.sa_widget_zIndex #ocd > div:last-child span:last-child{display:none}