@import "//fonts.googleapis.com/css?family=Roboto:400,500";
@font-face{font-family:'Font Awesome 5 Free';font-style:normal;font-weight:900;font-display:block;src:url(../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.eot);src:url(../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"),url(../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.woff) format("woff"),url(../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"),url(../../../NOVA/themes/base/fontawesome/webfonts/fa-solid-900.svg#fontawesome) format("svg")}
:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#707070;--gray-dark:#343a40;--primary:#F8BF00;--secondary:#525252;--success:#1C871E;--info:#525252;--warning:#f39932;--danger:#b90000;--light:#f5f5f5;--dark:#333;--gray:#707070;--gray-light:#f5f5f5;--gray-medium:#ebebeb;--gray-dark:#9b9b9b;--gray-darker:#525252;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1300px;--font-family-sans-serif:Roboto,sans-serif;--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
#header-top-leiste{background-color:#f1f1f1;list-style-type:none;margin:0;padding:.5em;text-align:center;font-family:'Roboto'}
#header-top-leiste li{display:inline-block;padding:0 1em}
body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
ol,ul,dl{margin-top:0;margin-bottom:1rem;margin-block-start:0;margin-block-end:0}
.top-bar{display:flex;align-items:center;justify-content:space-between;overflow:auto}
.top-circle-label{width:23px;height:23px;border:1px solid #fff;border-radius:30px;float:left;align-items:center;display:flex;justify-content:space-around;margin-right:.4em}
.topnav-link{display:flex;padding:.4em .8em .6em 0;text-decoration:none;font-weight:100;font-size:13px}
.topborder::after{margin:auto 0}
.nav-item .fa-check-circle{width:15px;height:18px;margin-right:4px;font-size:1.2em;margin-top:.2em}
.navbar-brand{display:inline-block;padding-top:.40625rem;padding-bottom:.40625rem;margin-right:1rem;font-size:1rem;line-height:inherit;white-space:nowrap}
@media (min-width: 992px) {
.circle-label{display:none}
.mob_disabled{display:none}
.home{display:none}
.topborder a{margin-right:.8em}
}
.accountflex .fa-user{font-size:30px;width:30px}
.accountflex .fa-shopping-bag{font-size:28px;width:24px}
@media (max-width: 991.98px) {
.toggler-logo-wrapper .burger-menu-wrapper{float:left;padding-top:1rem}
#header-top-leiste{height:33px;overflow:auto}
}
@media (max-width: 767px) {
#header-top-leiste{height:50px;overflow:auto}
}
@media (min-width: 992px) {
.navbar-toggler{display:none}
header .navbar-nav > .nav-item > .nav-link{position:relative;padding:1.3rem}
}
.w-100-util{width:100%}
@media (min-width: 992px) {
header{padding-bottom:0}
header .navbar-brand{margin-right:3rem}
}
.sp20upslider{padding:0!important;border-color:#d1d1d1;margin:1em auto}
.fa-user,.fa-heart,.fa-shopping-cart{color:#333;width:13px}
@media (min-width: 768px) {
.cart-icon-dropdown:not(.not-empty) .cart-icon-dropdown-icon{margin-right:1rem}
}
.btn-secondary{background-color:#fc0;margin-left:-1px;border-color:#525252;box-shadow:none;color:#fff}
.btn{display:inline-block;font-weight:500;color:#333;text-align:center;text-decoration:none;vertical-align:middle;user-select:none;background-color:transparent;border:1px solid transparent;padding:.625rem .9375rem;font-size:.875rem;line-height:1.5;border-radius:.125rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
.search-form-wrapper-fixed{padding-top:.5rem;padding-bottom:.5rem}
@media (min-width: 992px) {
.toggler-logo-wrapper .logo-wrapper{padding-left:1.5rem}
}
@media (max-width: 991.98px) {
.pro-word{display:none}
.input-group-append .btn{margin-left:-3.4em}
.btn-secondary{color:#969696;background:none;border:none}
.toggler-logo-wrapper{position:absolute}
.logologin{height:70px}
header .navbar{border:none}
}
.fa-search{width:14px}
@media (min-width: 576px) {
.container{max-width:97vw}
}
@media (min-width: 768px) {
.container{max-width:720px}
}
@media (min-width: 992px) {
.container{max-width:960px}
}
@media (min-width: 1300px) {
.container{max-width:1250px}
}
.text-center-util{text-align:center}
.square-image .inner{position:absolute;width:100%;height:100%;overflow:hidden}
.slick-slide{max-width:100%;width:100%;float:none;height:auto;padding:0 1rem}
.square-image .inner img{display:block;position:relative;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:auto;width:auto;max-width:100%;max-height:100%;object-fit:contain}
.slick-slider-other .hr-sect{margin-bottom:2rem}
.hr-sect{display:flex;justify-content:center;flex-basis:100%;align-items:center;color:#333;margin:8px 0;font-size:1.5rem;font-family:Roboto,sans-serif}
.carousel{transition:opacity .2s}
.carousel:not(.slick-initialized).slick-smooth-loading{opacity:0;max-height:12.5rem}
.carousel:not(.slick-initialized).slick-lazy{opacity:1;flex-wrap:nowrap;display:flex;overflow-x:hidden;max-height:none;justify-content:center}
@media (max-width: 991.98px) {
.carousel:not(.slick-initialized).slick-lazy:not(.slider-no-preview){padding-right:50px}
}
.carousel:not(.slick-initialized).slick-lazy > div{width:100%}
@media (max-width: 767.98px) {
.carousel:not(.slick-initialized).slick-type-product .product-wrapper{width:calc(100%/2);min-width:calc(100%/2)}
}
@media (min-width: 768px) {
.carousel:not(.slick-initialized).slick-type-product .product-wrapper{width:calc(100%/3);min-width:calc(100%/3)}
}
@media (min-width: 992px) {
.carousel:not(.slick-initialized).slick-type-product .product-wrapper{width:calc(100%/5);min-width:calc(100%/5)}
}
@media (min-width: 1300px) {
.carousel:not(.slick-initialized).slick-type-product .product-wrapper{width:calc(100%/7);min-width:calc(100%/7)}
}
@media (max-width: 767.98px) {
.carousel:not(.slick-initialized).slick-type-news .product-wrapper{width:100%;min-width:100%}
}
@media (min-width: 768px) {
.carousel:not(.slick-initialized).slick-type-news .product-wrapper{width:calc(100%/2);min-width:calc(100%/2)}
}
@media (min-width: 992px) {
.carousel:not(.slick-initialized).slick-type-news .product-wrapper{width:calc(100%/3);min-width:calc(100%/3)}
}
@media (min-width: 1300px) {
.carousel:not(.slick-initialized).slick-type-news .product-wrapper{width:calc(100%/5);min-width:calc(100%/5)}
}
.carousel:not(.slick-initialized).slick-type-box .product-wrapper{width:100%;min-width:100%}
.carousel:not(.slick-initialized).slick-type-half .product-wrapper{width:calc(100%/2);min-width:calc(100%/2)}
@media (min-width: 1300px) {
.carousel:not(.slick-initialized).slick-type-half .product-wrapper{width:calc(100%/3);min-width:calc(100%/3)}
}
@media (max-width: 767.98px) {
.carousel:not(.slick-initialized).slick-type-three .product-wrapper{width:100%;min-width:100%}
}
@media (min-width: 768px) {
.carousel:not(.slick-initialized).slick-type-three .product-wrapper{width:calc(100%/2);min-width:calc(100%/2)}
}
@media (min-width: 1300px) {
.carousel:not(.slick-initialized).slick-type-three .product-wrapper{width:calc(100%/3);min-width:calc(100%/3)}
}
.carousel:not(.slick-initialized) .product-wrapper{padding:0 1rem}
.carousel:hover .slick-arrow{opacity:1}
@media (min-width: 991.98px) {
.dropdown-toggle::after,:not(.navbar-toggler)[data-toggle="collapse"]::after{content:'\f078'!important;font-family:'Font Awesome 5 Free'!important;font-weight:900;margin-left:.1rem;vertical-align:middle;display:inline-block;line-height:1;transition:transform .2s;will-change:transform;border-top:0;font-size:.75em;width:.798rem}
}
@media (max-width: 991.98px) {
header .navbar-nav .nav-link::after{content:'\f054'!important;font-family:'Font Awesome 5 Free'!important;font-weight:900;margin-left:.5rem;margin-top:0;font-size:.75em}
.box-linkgroup .fa-chevron-down{float:right;position:absolute;right:1em}
}
.sp20upslider{padding:0!important;border-color:#d1d1d1;margin:1em auto}
header{font-family:Roboto,sans-serif}
*,::before,::after{box-sizing:border-box}
html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{margin:0;font-family:Roboto,sans-serif;font-size:.875rem;font-weight:400;line-height:1.5;color:#333;text-align:left}
[tabindex="-1"]:focus:not(:focus-visible){outline:0!important}
hr{box-sizing:content-box;height:0;overflow:visible}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:1rem}
p{margin-top:0;margin-bottom:1rem}
abbr[title],abbr[data-original-title]{text-decoration:underline;text-decoration:underline dotted;cursor:help;border-bottom:0;text-decoration-skip-ink:none}
address{margin-bottom:1rem;font-style:normal;line-height:inherit}
ol ol,ul ul,ol ul,ul ol{margin-bottom:0}
dt{font-weight:500}
dd{margin-bottom:.5rem;margin-left:0}
blockquote{margin:0 0 1rem}
b,strong{font-weight:500}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
a{color:#333;text-decoration:underline;background-color:transparent}
a:hover{color:#F8BF00;text-decoration:none}
a:not([href]):not([class]){color:inherit;text-decoration:none}
a:not([href]):not([class]):hover{color:inherit;text-decoration:none}
pre,code,kbd,samp{font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}
pre{margin-top:0;margin-bottom:1rem;overflow:auto;-ms-overflow-style:scrollbar}
figure{margin:0 0 1rem}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
table{border-collapse:collapse}
caption{padding-top:.75rem;padding-bottom:.75rem;color:#707070;text-align:left;caption-side:bottom}
th{text-align:inherit;text-align:-webkit-match-parent}
label{display:inline-block;margin-bottom:.5rem}
button{border-radius:0}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}
input,button,select,optgroup,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button,input{overflow:visible}
button,select{text-transform:none}
[role="button"]{cursor:pointer}
select{word-wrap:normal}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button:not(:disabled),[type="button"]:not(:disabled),[type="reset"]:not(:disabled),[type="submit"]:not(:disabled){cursor:pointer}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{padding:0;border-style:none}
input[type="radio"],input[type="checkbox"]{box-sizing:border-box;padding:0}
textarea{overflow:auto;resize:vertical}
fieldset{min-width:0;padding:0;margin:0;border:0}
legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}
progress{vertical-align:baseline}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{outline-offset:-2px;-webkit-appearance:none}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}
output{display:inline-block}
.header-flex{display:flex;justify-content:space-between;align-items:center}
summary{display:list-item;cursor:pointer}
template{display:none}
[hidden]{display:none!important}
.img-fluid{max-width:100%;height:auto}
.img-thumbnail{padding:.25rem;background-color:#f5f5f5;border:1px solid #dee2e6;border-radius:.125rem;box-shadow:0 1px 2px rgba(0,0,0,0.075);max-width:100%;height:auto}
.figure{display:inline-block}
.figure-img{margin-bottom:.5rem;line-height:1}
.figure-caption{font-size:90%;color:#707070}
code{font-size:87.5%;color:#e83e8c;word-wrap:break-word}
a > code{color:inherit}
kbd{padding:.2rem .4rem;font-size:87.5%;color:#fff;background-color:#212529;border-radius:.125rem;box-shadow:inset 0 -.1rem 0 rgba(0,0,0,0.25)}
kbd kbd{padding:0;font-size:100%;font-weight:500;box-shadow:none}
pre{display:block;font-size:87.5%;color:#212529}
pre code{font-size:inherit;color:inherit;word-break:normal}
.pre-scrollable{max-height:340px;overflow-y:scroll}
.logologin{height:108px}
.container,.container-fluid,.container-sm,.container-md,.container-lg,.container-xl{width:100%;padding-right:1rem;padding-left:1rem;margin-right:auto;margin-left:auto}
@media (min-width: 576px) {
.container-sm{max-width:97vw}
}
@media (min-width: 768px) {
.container-md{max-width:720px}
}
@media (min-width: 992px) {
.container-lg{max-width:960px}
}
@media (min-width: 1300px) {
.container-xl{max-width:1250px}
}
.sticky-top{position:sticky;top:0;z-index:1020}
#header-top-bar,header{background-color:#fff;color:#333}
.row{display:flex;flex-wrap:wrap;margin-right:-1rem;margin-left:-1rem}
.no-gutters{margin-right:0;margin-left:0}
.no-gutters > .col,.no-gutters > [class*="col-"]{padding-right:0;padding-left:0}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col,.col-auto,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm,.col-sm-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md,.col-md-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg,.col-lg-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl,.col-xl-auto{position:relative;width:100%;padding-right:1rem;padding-left:1rem}
.col{flex-basis:0;flex-grow:1;max-width:100%}
.row-cols-1 > *{flex:0 0 100%;max-width:100%}
.row-cols-2 > *{flex:0 0 50%;max-width:50%}
.row-cols-3 > *{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.row-cols-4 > *{flex:0 0 25%;max-width:25%}
.row-cols-5 > *{flex:0 0 20%;max-width:20%}
.row-cols-6 > *{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-auto{flex:0 0 auto;width:auto;max-width:100%}
.col-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}
.col-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-3{flex:0 0 25%;max-width:25%}
.col-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.col-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}
.col-6{flex:0 0 50%;max-width:50%}
.col-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}
.col-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
.col-9{flex:0 0 75%;max-width:75%}
.col-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
.col-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
.col-12{flex:0 0 100%;max-width:100%}
.order-first{order:-1}
.order-last{order:13}
.order-0{order:0}
.order-1{order:1}
.order-2{order:2}
.order-3{order:3}
.order-4{order:4}
.order-5{order:5}
.order-6{order:6}
.order-7{order:7}
.order-8{order:8}
.order-9{order:9}
.order-10{order:10}
.order-11{order:11}
.order-12{order:12}
.offset-1{margin-left:8.3333333333%}
.offset-2{margin-left:16.6666666667%}
.offset-3{margin-left:25%}
.offset-4{margin-left:33.3333333333%}
.offset-5{margin-left:41.6666666667%}
.offset-6{margin-left:50%}
.offset-7{margin-left:58.3333333333%}
.offset-8{margin-left:66.6666666667%}
.offset-9{margin-left:75%}
.offset-10{margin-left:83.3333333333%}
.offset-11{margin-left:91.6666666667%}
@media (min-width: 576px) {
.col-sm{flex-basis:0;flex-grow:1;max-width:100%}
.row-cols-sm-1 > *{flex:0 0 100%;max-width:100%}
.row-cols-sm-2 > *{flex:0 0 50%;max-width:50%}
.row-cols-sm-3 > *{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.row-cols-sm-4 > *{flex:0 0 25%;max-width:25%}
.row-cols-sm-5 > *{flex:0 0 20%;max-width:20%}
.row-cols-sm-6 > *{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-sm-auto{flex:0 0 auto;width:auto;max-width:100%}
.col-sm-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}
.col-sm-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-sm-3{flex:0 0 25%;max-width:25%}
.col-sm-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.col-sm-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}
.col-sm-6{flex:0 0 50%;max-width:50%}
.col-sm-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}
.col-sm-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
.col-sm-9{flex:0 0 75%;max-width:75%}
.col-sm-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
.col-sm-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
.col-sm-12{flex:0 0 100%;max-width:100%}
.order-sm-first{order:-1}
.order-sm-last{order:13}
.order-sm-0{order:0}
.order-sm-1{order:1}
.order-sm-2{order:2}
.order-sm-3{order:3}
.order-sm-4{order:4}
.order-sm-5{order:5}
.order-sm-6{order:6}
.order-sm-7{order:7}
.order-sm-8{order:8}
.order-sm-9{order:9}
.order-sm-10{order:10}
.order-sm-11{order:11}
.order-sm-12{order:12}
.offset-sm-0{margin-left:0}
.offset-sm-1{margin-left:8.3333333333%}
.offset-sm-2{margin-left:16.6666666667%}
.offset-sm-3{margin-left:25%}
.offset-sm-4{margin-left:33.3333333333%}
.offset-sm-5{margin-left:41.6666666667%}
.offset-sm-6{margin-left:50%}
.offset-sm-7{margin-left:58.3333333333%}
.offset-sm-8{margin-left:66.6666666667%}
.offset-sm-9{margin-left:75%}
.offset-sm-10{margin-left:83.3333333333%}
.offset-sm-11{margin-left:91.6666666667%}
}
@media (min-width: 768px) {
.col-md{flex-basis:0;flex-grow:1;max-width:100%}
.row-cols-md-1 > *{flex:0 0 100%;max-width:100%}
.row-cols-md-2 > *{flex:0 0 50%;max-width:50%}
.row-cols-md-3 > *{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.row-cols-md-4 > *{flex:0 0 25%;max-width:25%}
.row-cols-md-5 > *{flex:0 0 20%;max-width:20%}
.row-cols-md-6 > *{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-md-auto{flex:0 0 auto;width:auto;max-width:100%}
.col-md-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}
.col-md-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-md-3{flex:0 0 25%;max-width:25%}
.col-md-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.col-md-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}
.col-md-6{flex:0 0 50%;max-width:50%}
.col-md-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}
.col-md-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
.col-md-9{flex:0 0 75%;max-width:75%}
.col-md-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
.col-md-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
.col-md-12{flex:0 0 100%;max-width:100%}
.order-md-first{order:-1}
.order-md-last{order:13}
.order-md-0{order:0}
.order-md-1{order:1}
.order-md-2{order:2}
.order-md-3{order:3}
.order-md-4{order:4}
.order-md-5{order:5}
.order-md-6{order:6}
.order-md-7{order:7}
.order-md-8{order:8}
.order-md-9{order:9}
.order-md-10{order:10}
.order-md-11{order:11}
.order-md-12{order:12}
.offset-md-0{margin-left:0}
.offset-md-1{margin-left:8.3333333333%}
.offset-md-2{margin-left:16.6666666667%}
.offset-md-3{margin-left:25%}
.offset-md-4{margin-left:33.3333333333%}
.offset-md-5{margin-left:41.6666666667%}
.offset-md-6{margin-left:50%}
.offset-md-7{margin-left:58.3333333333%}
.offset-md-8{margin-left:66.6666666667%}
.offset-md-9{margin-left:75%}
.offset-md-10{margin-left:83.3333333333%}
.offset-md-11{margin-left:91.6666666667%}
}
@media (min-width: 992px) {
.col-lg{flex-basis:0;flex-grow:1;max-width:100%}
.row-cols-lg-1 > *{flex:0 0 100%;max-width:100%}
.row-cols-lg-2 > *{flex:0 0 50%;max-width:50%}
.row-cols-lg-3 > *{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.row-cols-lg-4 > *{flex:0 0 25%;max-width:25%}
.row-cols-lg-5 > *{flex:0 0 20%;max-width:20%}
.row-cols-lg-6 > *{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-lg-auto{flex:0 0 auto;width:auto;max-width:100%}
.col-lg-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}
.col-lg-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-lg-3{flex:0 0 25%;max-width:25%}
.col-lg-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.col-lg-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}
.col-lg-6{flex:0 0 50%;max-width:50%}
.col-lg-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}
.col-lg-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
.col-lg-9{flex:0 0 75%;max-width:75%}
.col-lg-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
.col-lg-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
.col-lg-12{flex:0 0 100%;max-width:100%}
.order-lg-first{order:-1}
.order-lg-last{order:13}
.order-lg-0{order:0}
.order-lg-1{order:1}
.order-lg-2{order:2}
.order-lg-3{order:3}
.order-lg-4{order:4}
.order-lg-5{order:5}
.order-lg-6{order:6}
.order-lg-7{order:7}
.order-lg-8{order:8}
.order-lg-9{order:9}
.order-lg-10{order:10}
.order-lg-11{order:11}
.order-lg-12{order:12}
.offset-lg-0{margin-left:0}
.offset-lg-1{margin-left:8.3333333333%}
.offset-lg-2{margin-left:16.6666666667%}
.offset-lg-3{margin-left:25%}
.offset-lg-4{margin-left:33.3333333333%}
.offset-lg-5{margin-left:41.6666666667%}
.offset-lg-6{margin-left:50%}
.offset-lg-7{margin-left:58.3333333333%}
.offset-lg-8{margin-left:66.6666666667%}
.offset-lg-9{margin-left:75%}
.offset-lg-10{margin-left:83.3333333333%}
.offset-lg-11{margin-left:91.6666666667%}
}
@media (min-width: 1300px) {
.col-xl{flex-basis:0;flex-grow:1;max-width:100%}
.row-cols-xl-1 > *{flex:0 0 100%;max-width:100%}
.row-cols-xl-2 > *{flex:0 0 50%;max-width:50%}
.row-cols-xl-3 > *{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.row-cols-xl-4 > *{flex:0 0 25%;max-width:25%}
.row-cols-xl-5 > *{flex:0 0 20%;max-width:20%}
.row-cols-xl-6 > *{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-xl-auto{flex:0 0 auto;width:auto;max-width:100%}
.col-xl-1{flex:0 0 8.3333333333%;max-width:8.3333333333%}
.col-xl-2{flex:0 0 16.6666666667%;max-width:16.6666666667%}
.col-xl-3{flex:0 0 25%;max-width:25%}
.col-xl-4{flex:0 0 33.3333333333%;max-width:33.3333333333%}
.col-xl-5{flex:0 0 41.6666666667%;max-width:41.6666666667%}
.col-xl-6{flex:0 0 50%;max-width:50%}
.col-xl-7{flex:0 0 58.3333333333%;max-width:58.3333333333%}
.col-xl-8{flex:0 0 66.6666666667%;max-width:66.6666666667%}
.col-xl-9{flex:0 0 75%;max-width:75%}
.col-xl-10{flex:0 0 83.3333333333%;max-width:83.3333333333%}
.col-xl-11{flex:0 0 91.6666666667%;max-width:91.6666666667%}
.col-xl-12{flex:0 0 100%;max-width:100%}
.order-xl-first{order:-1}
.order-xl-last{order:13}
.order-xl-0{order:0}
.order-xl-1{order:1}
.order-xl-2{order:2}
.order-xl-3{order:3}
.order-xl-4{order:4}
.order-xl-5{order:5}
.order-xl-6{order:6}
.order-xl-7{order:7}
.order-xl-8{order:8}
.order-xl-9{order:9}
.order-xl-10{order:10}
.order-xl-11{order:11}
.order-xl-12{order:12}
.offset-xl-0{margin-left:0}
.offset-xl-1{margin-left:8.3333333333%}
.offset-xl-2{margin-left:16.6666666667%}
.offset-xl-3{margin-left:25%}
.offset-xl-4{margin-left:33.3333333333%}
.offset-xl-5{margin-left:41.6666666667%}
.offset-xl-6{margin-left:50%}
.offset-xl-7{margin-left:58.3333333333%}
.offset-xl-8{margin-left:66.6666666667%}
.offset-xl-9{margin-left:75%}
.offset-xl-10{margin-left:83.3333333333%}
.offset-xl-11{margin-left:91.6666666667%}
}
.nav{display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}
.nav-link{display:block;padding:.5rem 1rem;text-decoration:none}
.nav-link:hover,.nav-link:focus{text-decoration:none}
.nav-link.disabled{color:#707070;pointer-events:none;cursor:default}
.nav-tabs{border-bottom:1px solid #dee2e6}
.nav-tabs .nav-item{margin-bottom:-1px}
.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:0;border-top-right-radius:0}
.nav-tabs .nav-link:hover,.nav-tabs .nav-link:focus{border-color:transparent}
.nav-tabs .nav-link.disabled{color:#707070;background-color:transparent;border-color:transparent}
.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{color:#333;background-color:transparent;border-color:#F8BF00}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.nav-pills .nav-link{border-radius:.125rem}
.nav-pills .nav-link.active,.nav-pills .show > .nav-link{color:#fff;background-color:#F8BF00}
.nav-fill > .nav-link,.nav-fill .nav-item{flex:1 1 auto;text-align:center}
.nav-justified > .nav-link,.nav-justified .nav-item{flex-basis:0;flex-grow:1;text-align:center}
.tab-content > .tab-pane{display:none}
.tab-content > .active{display:block}
.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:.4rem 1rem}
.navbar .container,.navbar .container-fluid,.navbar .container-sm,.navbar .container-md,.navbar .container-lg,.navbar .container-xl,.navbar > .container-sm,.navbar > .container-md,.navbar > .container-lg,.navbar > .container-xl{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between}
.navbar-brand:hover,.navbar-brand:focus{text-decoration:none}
.navbar-nav{display:flex;flex-direction:column;padding-left:0;margin-bottom:0;list-style:none}
.navbar-nav .nav-link{padding-right:0;padding-left:0}
.navbar-nav .dropdown-menu{position:static;float:none}
.navbar-text{display:inline-block;padding-top:.5rem;padding-bottom:.5rem}
.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}
.navbar-toggler{padding:.25rem .75rem;font-size:1rem;line-height:1;background-color:transparent;border:1px solid transparent;border-radius:.125rem}
.navbar-toggler:hover,.navbar-toggler:focus{text-decoration:none}
.navbar-toggler-icon{display:inline-block;width:1.5em;height:1.5em;vertical-align:middle;content:"";background:no-repeat center center;background-size:100% 100%}
@media (max-width: 575.98px) {
.navbar-expand-sm > .container,.navbar-expand-sm > .container-fluid,.navbar-expand-sm > .container-sm,.navbar-expand-sm > .container-md,.navbar-expand-sm > .container-lg,.navbar-expand-sm > .container-xl{padding-right:0;padding-left:0}
}
@media (min-width: 576px) {
.navbar-expand-sm{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-sm .navbar-nav{flex-direction:row}
.navbar-expand-sm .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-sm .navbar-nav .nav-link{padding-right:1.5rem;padding-left:1.5rem}
.navbar-expand-sm > .container,.navbar-expand-sm > .container-fluid,.navbar-expand-sm > .container-sm,.navbar-expand-sm > .container-md,.navbar-expand-sm > .container-lg,.navbar-expand-sm > .container-xl{flex-wrap:nowrap}
.navbar-expand-sm .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand-sm .navbar-toggler{display:none}
}
@media (max-width: 767.98px) {
.navbar-expand-md > .container,.navbar-expand-md > .container-fluid,.navbar-expand-md > .container-sm,.navbar-expand-md > .container-md,.navbar-expand-md > .container-lg,.navbar-expand-md > .container-xl{padding-right:0;padding-left:0}
}
@media (min-width: 768px) {
.navbar-expand-md{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-md .navbar-nav{flex-direction:row}
.navbar-expand-md .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-md .navbar-nav .nav-link{padding-right:1.5rem;padding-left:1.5rem}
.navbar-expand-md > .container,.navbar-expand-md > .container-fluid,.navbar-expand-md > .container-sm,.navbar-expand-md > .container-md,.navbar-expand-md > .container-lg,.navbar-expand-md > .container-xl{flex-wrap:nowrap}
.navbar-expand-md .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand-md .navbar-toggler{display:none}
}
@media (max-width: 991.98px) {
.navbar-expand-lg > .container,.navbar-expand-lg > .container-fluid,.navbar-expand-lg > .container-sm,.navbar-expand-lg > .container-md,.navbar-expand-lg > .container-lg,.navbar-expand-lg > .container-xl{padding-right:0;padding-left:0}
}
@media (min-width: 992px) {
.navbar-expand-lg{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-lg .navbar-nav{flex-direction:row}
.navbar-expand-lg .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-lg .navbar-nav .nav-link{padding-right:1.5rem;padding-left:1.1rem}
.navbar-expand-lg > .container,.navbar-expand-lg > .container-fluid,.navbar-expand-lg > .container-sm,.navbar-expand-lg > .container-md,.navbar-expand-lg > .container-lg,.navbar-expand-lg > .container-xl{flex-wrap:nowrap}
.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand-lg .navbar-toggler{display:none}
}
@media (max-width: 1299.98px) {
.navbar-expand-xl > .container,.navbar-expand-xl > .container-fluid,.navbar-expand-xl > .container-sm,.navbar-expand-xl > .container-md,.navbar-expand-xl > .container-lg,.navbar-expand-xl > .container-xl{padding-right:0;padding-left:0}
}
@media (min-width: 1300px) {
.navbar-expand-xl{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand-xl .navbar-nav{flex-direction:row}
.navbar-expand-xl .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-xl .navbar-nav .nav-link{padding-right:1.5rem;padding-left:1.5rem}
.navbar-expand-xl > .container,.navbar-expand-xl > .container-fluid,.navbar-expand-xl > .container-sm,.navbar-expand-xl > .container-md,.navbar-expand-xl > .container-lg,.navbar-expand-xl > .container-xl{flex-wrap:nowrap}
.navbar-expand-xl .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand-xl .navbar-toggler{display:none}
}
.navbar-expand{flex-flow:row nowrap;justify-content:flex-start}
.navbar-expand > .container,.navbar-expand > .container-fluid,.navbar-expand > .container-sm,.navbar-expand > .container-md,.navbar-expand > .container-lg,.navbar-expand > .container-xl{padding-right:0;padding-left:0}
.navbar-expand .navbar-nav{flex-direction:row}
.navbar-expand .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand .navbar-nav .nav-link{padding-right:1.5rem;padding-left:1.5rem}
.navbar-expand > .container,.navbar-expand > .container-fluid,.navbar-expand > .container-sm,.navbar-expand > .container-md,.navbar-expand > .container-lg,.navbar-expand > .container-xl{flex-wrap:nowrap}
.navbar-expand .navbar-collapse{display:flex!important;flex-basis:auto}
.navbar-expand .navbar-toggler{display:none}
.navbar-light .navbar-brand{color:rgba(0,0,0,0.9)}
.navbar-light .navbar-brand:hover,.navbar-light .navbar-brand:focus{color:rgba(0,0,0,0.9)}
.navbar-light .navbar-nav .nav-link{color:#333}
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:focus{color:#F8BF00}
.navbar-light .navbar-nav .nav-link.disabled{color:rgba(0,0,0,0.3)}
.navbar-light .navbar-nav .show > .nav-link,.navbar-light .navbar-nav .active > .nav-link,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .nav-link.active{color:rgba(0,0,0,0.9)}
.navbar-light .navbar-toggler{color:#333;border-color:rgba(0,0,0,0.1)}
.navbar-light .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23333333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
.navbar-light .navbar-text{color:#333}
.navbar-light .navbar-text a{color:rgba(0,0,0,0.9)}
.navbar-light .navbar-text a:hover,.navbar-light .navbar-text a:focus{color:rgba(0,0,0,0.9)}
.navbar-dark .navbar-brand{color:#fff}
.navbar-dark .navbar-brand:hover,.navbar-dark .navbar-brand:focus{color:#fff}
.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,0.5)}
.navbar-dark .navbar-nav .nav-link:hover,.navbar-dark .navbar-nav .nav-link:focus{color:rgba(255,255,255,0.75)}
.navbar-dark .navbar-nav .nav-link.disabled{color:rgba(255,255,255,0.25)}
.navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .active > .nav-link,.navbar-dark .navbar-nav .nav-link.show,.navbar-dark .navbar-nav .nav-link.active{color:#fff}
.navbar-dark .navbar-toggler{color:rgba(255,255,255,0.5);border-color:rgba(255,255,255,0.1)}
.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
.navbar-dark .navbar-text{color:rgba(255,255,255,0.5)}
.navbar-dark .navbar-text a{color:#fff}
.navbar-dark .navbar-text a:hover,.navbar-dark .navbar-text a:focus{color:#fff}
.fa,.fas,.far,.fal{display:inline-block}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.productlist-filter-headline,.h4,.h5,.h6{margin-bottom:1rem;font-family:Roboto,sans-serif;font-weight:500;line-height:1.2;color:#333}
h1,.h1{font-size:1.6rem}
h2,.h2{font-size:1.5rem}
h3,.h3,.productlist-filter-headline{font-size:1rem}
h4,.h4{font-size:.875rem}
h5,.h5{font-size:.875rem}
h6,.h6{font-size:.875rem}
.label-slide .form-group:not(.exclude-from-label-slide):not(.checkbox) label{display:none}
.modal{display:none}
.carousel-thumbnails .slick-arrow{opacity:0}
.consent-modal:not(.active){display:none}
.consent-banner-icon{width:1em;height:1em}
.mini > #consent-banner{display:none}
html{overflow-y:scroll}
.dropdown-menu{display:none}
.input-group{position:relative;display:flex;flex-wrap:wrap;align-items:stretch;width:100%}
.input-group > .form-control{flex:1 1 auto;width:1%}
.container-fluid-xl{max-width:103.125rem}
.nav-dividers .nav-item{position:relative}
.nav-dividers /* .nav-item:not(:last-child)::after{content:'';position:absolute;right:0;top:.5rem;height:calc(100% - 1rem);border-right:.0625rem solid currentColor}
*/.nav-link{text-decoration:none}
.nav-scrollbar{overflow:hidden;display:flex;align-items:center}
.nav-scrollbar .nav,.nav-scrollbar .navbar-nav{flex-wrap:nowrap}
.nav-scrollbar .nav-item{white-space:nowrap}
.nav-scrollbar-inner{overflow-x:auto;align-self:flex-start}
#shop-nav{align-items:center;flex-shrink:0;margin-left:auto}
@media (max-width: 767.98px) {
#shop-nav .nav-link{padding-left:.75rem;padding-right:.75rem}
}
.breadcrumb{display:flex;flex-wrap:wrap;padding:.5rem 0;margin-bottom:0;list-style:none;background-color:transparent;border-radius:0}
.breadcrumb-item + .breadcrumb-item{padding-left:.5rem}
.breadcrumb-item + .breadcrumb-item::before{display:inline-block;padding-right:.5rem;color:#707070;content:"/"}
.breadcrumb-item.active{color:#525252;font-weight:500}
.breadcrumb-item.first::before{display:none}
.breadcrumb-wrapper{margin-bottom:2rem}
@media (min-width: 992px) {
.breadcrumb-wrapper{border-style:solid;border-color:#ebebeb;border-width:1px 0}
}
.breadcrumb{font-size:.8125rem}
.breadcrumb a{text-decoration:none}
.breadcrumb-back{padding-right:1rem;margin-right:1rem;border-right:1px solid #ebebeb}
#header-top-bar{position:relative;background-color:#686B6B;z-index:1021;flex-direction:row-reverse;color:#fff;height:37px}
#header-top-bar a,header a{text-decoration:none;color:#fff}
header .form-control,header .form-control:focus{background-color:#fff;color:#333}
header .navbar{padding:0;position:static}
header{box-shadow:0 1rem 0.5625rem -0.75rem #0000003d}
box-shadow: 0 1rem 0.5625rem -0.75rem rgb(0 0 0 / 40%);
header .navbar-brand{padding-top:.4rem;padding-bottom:.4rem}
header .navbar-brand img{height:2rem}
header .navbar-toggler{color:#525252}
header .nav-right .dropdown-menu{margin-top:-.03125rem;box-shadow:inset 0 1rem .5625rem -.75rem rgba(0,0,0,0.06)}
@media (min-width: 992px) {
header .navbar-brand{padding-top:.6rem;padding-bottom:.6rem}
header .navbar-brand img{height:3.0625rem}
header .navbar-nav > .nav-item.active > .nav-link::before,header .navbar-nav > .nav-item:hover > .nav-link::before,header .navbar-nav > .nav-item.hover > .nav-link::before{width:100%}
header .navbar-nav > .nav-item .nav{flex-wrap:wrap}
header .navbar-nav .nav .nav-link{padding:0}
header .navbar-nav .nav .nav-link::after{display:none}
header .navbar-nav .dropdown .nav-item{width:100%}
header .nav-mobile-body{align-self:flex-start;width:100%}
header .nav-scrollbar-inner{width:100%}
header .nav-right .nav-link{padding-top:1.5rem;padding-bottom:1.5rem}
header .nav-scrollbar-inner{width:100%}
}
.btn.disabled,.btn:disabled{opacity:.65;box-shadow:none}
.btn:not(:disabled):not(.disabled):active,.btn:not(:disabled):not(.disabled).active{box-shadow:none}
.form-control{display:block;width:100%;height:calc(1.5em + 1.25rem + 2px);padding:.625rem .9375rem;font-size:.875rem;font-weight:400;line-height:1.5;color:#333;background-color:#fff;background-clip:padding-box;border:1px solid #707070;border-radius:.125rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion: reduce) {
.form-control{transition:none}
}
.breadcrumb{display:flex;flex-wrap:wrap;padding:.5rem 0;margin-bottom:1rem;list-style:none;background-color:transparent;border-radius:0}
.square{display:flex;position:relative}
.square::before{content:'';display:inline-block;padding-bottom:100%}
.flex-row-reverse{align-items:center;flex-direction:row-reverse!important}
.flex-column{flex-direction:column!important}
.justify-content-start{justify-content:flex-start!important}
.collapse:not(.show){display:none}
.d-none{display:none!important}
.d-block{display:block!important}
.d-flex{display:flex!important}
.d-inline-block{display:inline-block!important}
@media (min-width: 992px) {
.d-lg-none{display:none!important}
.d-lg-block{display:block!important}
.d-lg-flex{display:flex!important}
}
@media (min-width: 768px) {
.d-md-none{display:none!important}
.d-md-block{display:block!important}
.d-md-flex{display:flex!important}
.d-md-inline-block{display:inline-block!important}
}
.form-group{margin-bottom:1rem}
.btn-outline-secondary{color:#525252;border-color:#525252}
.btn-group{display:inline-flex}
.productlist-filter-headline{border-bottom:1px solid #ebebeb;padding-bottom:.5rem;margin-bottom:1rem}
hr{margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0,0,0,0.1)}
.badge-circle-1{background-color:#fff}
#content{padding-bottom:3rem}
#content-wrapper{margin-top:0}
#content-wrapper.has-fluid{padding-top:1rem}
#content-wrapper:not(.has-fluid){padding-top:2rem}
@media (min-width: 992px) {
#content-wrapper:not(.has-fluid){padding-top:4rem}
}
#search{margin-right:1rem;display:none}
@media (min-width: 992px) {
#search{display:block}
}
.logo-wrapper{float:left}
.navbar .container{display:block}