<a class="kk-fm-entry-label kk-fm-link" href="jtl.php" title="{lang section='global' key='myAccount'}" data-parent-toggled-class="text-primary">
	{include file="templates/entries/sub/icon.tpl"|drop_tpl entry=$entry}{if !empty($entry.accountLabelLoggedOut) || !empty($entry.accountLabelLoggedIn)}<span class="kk-fm-entry-label--name">{if empty($smarty.session.Kunde)}{eval var=$entry.accountLabelLoggedOut}{else}{eval var=$entry.accountLabelLoggedIn}{/if}</span>{/if}{if $menu.hasDropdown}</span><span class="kk-fm-caret-down">{'kk-icon-material-arrow_drop_down'|drop_icon}</span>{/if}
</a>