{literal}
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 12.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 51448)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd" [
	<!ENTITY ns_svg "http://www.w3.org/2000/svg">
	<!ENTITY ns_xlink "http://www.w3.org/1999/xlink">
]>
<svg  version="1.1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="241.846" height="59.85" viewBox="0 0 241.846 59.85"
	 style="overflow:visible;enable-background:new 0 0 241.846 59.85;" xml:space="preserve">
<style type="text/css">
<![CDATA[
	.st0{ fill:#264267;}
	.st1{ opacity:0;}
	.st2{ fill:#FFFFFF;}
	.st3{ fill:#686B6B;}
	.st4{ fill:none;stroke:#FFA601;stroke-width:6;}
]]>
</style>
<g id="Ebene_2">
	<path class="st1" d="M120.081,37.897c0,5.233-2.122,9.972-5.551,13.401s-8.167,5.551-13.401,5.551s-9.971-2.121-13.401-5.551
		s-5.551-8.168-5.551-13.401s2.122-9.972,5.551-13.401"/>
	<path class="st4" d="M120.081,37.897c0,5.233-2.122,9.972-5.551,13.401s-8.167,5.551-13.401,5.551s-9.971-2.121-13.401-5.551
		s-5.551-8.168-5.551-13.401s2.122-9.972,5.551-13.401"/>
	<line class="st2" x1="131.15" y1="36.065" x2="101.128" y2="36.065"/>
</g>
<g id="uhr_24">
	<g>
		<path class="st0" d="M0,11.063h7.281v13.811c0,2.688,0.185,4.556,0.554,5.601c0.37,1.046,0.964,1.858,1.782,2.438
			s1.826,0.869,3.023,0.869c1.197,0,2.213-0.285,3.049-0.856c0.836-0.57,1.456-1.409,1.861-2.517C17.85,29.582,18,27.816,18,25.11
			V11.063h7.188V23.21c0,5.007-0.396,8.432-1.186,10.276c-0.966,2.249-2.389,3.975-4.269,5.178s-4.268,1.805-7.166,1.805
			c-3.144,0-5.687-0.702-7.627-2.107s-3.307-3.364-4.097-5.876C0.281,30.746,0,27.584,0,22.999V11.063z"/>
		<path class="st0" d="M31.896,0h7.156v13.983c1.407-1.213,2.822-2.123,4.247-2.729c1.424-0.606,2.866-0.91,4.326-0.91
			c2.849,0,5.25,0.984,7.202,2.951c1.67,1.704,2.506,4.208,2.506,7.51V39.75H50.24V27.185c0-3.318-0.159-5.566-0.475-6.743
			s-0.857-2.055-1.623-2.634c-0.766-0.58-1.711-0.87-2.836-0.87c-1.46,0-2.713,0.483-3.76,1.449s-1.772,2.283-2.177,3.951
			c-0.211,0.86-0.316,2.827-0.316,5.9V39.75h-7.156V0z"/>
		<path class="st0" d="M63.879,11.063h6.188v3.632c0.669-1.424,1.559-2.505,2.669-3.243c1.11-0.738,2.326-1.107,3.647-1.107
			c0.934,0,1.912,0.247,2.934,0.739l-2.249,6.205c-0.847-0.421-1.543-0.632-2.09-0.632c-1.111,0-2.05,0.686-2.817,2.055
			c-0.768,1.369-1.151,4.055-1.151,8.058l0.026,1.396V39.75h-7.156V11.063z"/>
	</g>
	<g>
		<path d="M127.049,49.744h0.922v5.548c0,0.658,0.013,1.068,0.038,1.231c0.045,0.361,0.152,0.665,0.319,0.908
			c0.167,0.244,0.423,0.448,0.769,0.612c0.346,0.165,0.694,0.247,1.044,0.247c0.304,0,0.596-0.064,0.875-0.193
			c0.279-0.129,0.512-0.309,0.7-0.537c0.188-0.229,0.325-0.507,0.413-0.831c0.063-0.233,0.094-0.713,0.094-1.438v-5.548h0.922v5.548
			c0,0.821-0.08,1.484-0.241,1.99s-0.482,0.946-0.963,1.321c-0.482,0.375-1.065,0.563-1.749,0.563c-0.742,0-1.378-0.177-1.908-0.531
			c-0.53-0.354-0.884-0.822-1.063-1.405c-0.113-0.358-0.169-1.004-0.169-1.938V49.744z"/>
		<path d="M135.391,49.744h0.922v3.859h4.672v-3.859h0.922v9.195h-0.922v-4.438h-4.672v4.438h-0.922V49.744z"/>
		<path d="M144.197,49.744h1.829c1.02,0,1.71,0.042,2.072,0.125c0.545,0.125,0.988,0.393,1.33,0.804
			c0.341,0.411,0.512,0.916,0.512,1.517c0,0.5-0.118,0.94-0.353,1.319c-0.235,0.38-0.57,0.666-1.007,0.86
			c-0.437,0.193-1.039,0.293-1.808,0.297l3.3,4.273h-1.133l-3.3-4.273h-0.52v4.273h-0.922V49.744z M145.119,50.643v3.125
			l1.578,0.013c0.611,0,1.063-0.059,1.356-0.175c0.293-0.117,0.522-0.304,0.686-0.56c0.165-0.257,0.247-0.543,0.247-0.859
			c0-0.309-0.083-0.589-0.25-0.841c-0.167-0.252-0.385-0.433-0.655-0.541c-0.271-0.107-0.72-0.162-1.348-0.162H145.119z"/>
		<path d="M151.919,49.744h5.266v0.898h-4.344v2.883h4.305v0.898h-4.305v3.617h4.305v0.898h-5.227V49.744z"/>
		<path d="M158.782,58.939v-9.195h0.201l6.12,7.048v-7.048h0.906v9.195h-0.207l-6.067-6.963v6.963H158.782z"/>
		<path d="M171.075,55.096h3.438v0.766h-3.438V55.096z"/>
		<path d="M178.635,57.229l0.781-0.469c0.549,1.011,1.184,1.516,1.904,1.516c0.308,0,0.597-0.071,0.868-0.215
			s0.476-0.336,0.618-0.578c0.142-0.24,0.212-0.496,0.212-0.767c0-0.309-0.104-0.609-0.313-0.905
			c-0.287-0.408-0.812-0.899-1.574-1.475c-0.767-0.579-1.243-0.998-1.431-1.256c-0.325-0.434-0.487-0.902-0.487-1.406
			c0-0.4,0.096-0.765,0.287-1.094s0.461-0.589,0.809-0.778s0.726-0.284,1.133-0.284c0.433,0,0.838,0.107,1.215,0.322
			c0.377,0.216,0.775,0.611,1.196,1.188l-0.75,0.568c-0.345-0.458-0.639-0.761-0.882-0.906c-0.244-0.146-0.508-0.219-0.795-0.219
			c-0.37,0-0.672,0.112-0.907,0.337c-0.235,0.226-0.353,0.502-0.353,0.831c0,0.199,0.042,0.393,0.125,0.58
			c0.083,0.188,0.235,0.392,0.456,0.612c0.121,0.116,0.516,0.422,1.186,0.918c0.794,0.586,1.339,1.108,1.635,1.566
			s0.443,0.917,0.443,1.379c0,0.666-0.253,1.244-0.759,1.735c-0.505,0.491-1.121,0.736-1.845,0.736
			c-0.558,0-1.063-0.148-1.517-0.445S179.018,57.926,178.635,57.229z"/>
		<path d="M194.518,51.453l-0.725,0.557c-0.4-0.521-0.88-0.915-1.44-1.184c-0.56-0.268-1.175-0.402-1.846-0.402
			c-0.733,0-1.412,0.176-2.037,0.527c-0.625,0.353-1.109,0.824-1.453,1.418c-0.343,0.594-0.515,1.261-0.515,2.002
			c0,1.119,0.384,2.055,1.152,2.804c0.769,0.749,1.738,1.124,2.909,1.124c1.287,0,2.363-0.505,3.23-1.516l0.725,0.55
			c-0.458,0.584-1.03,1.035-1.715,1.354c-0.685,0.319-1.45,0.479-2.296,0.479c-1.608,0-2.876-0.535-3.805-1.605
			c-0.779-0.902-1.168-1.994-1.168-3.271c0-1.345,0.472-2.477,1.415-3.395s2.125-1.377,3.546-1.377c0.858,0,1.632,0.17,2.324,0.509
			C193.509,50.366,194.076,50.842,194.518,51.453z"/>
		<path d="M196.354,49.744h0.922v3.859h4.672v-3.859h0.922v9.195h-0.922v-4.438h-4.672v4.438h-0.922V49.744z"/>
		<path d="M204.691,58.939l1.32-9.195h0.146l3.741,7.547l3.698-7.547h0.148l1.322,9.195h-0.895l-0.914-6.578l-3.246,6.578h-0.244
			l-3.284-6.625l-0.905,6.625H204.691z"/>
		<path d="M216.899,49.744h0.922v5.548c0,0.658,0.012,1.068,0.037,1.231c0.046,0.361,0.152,0.665,0.319,0.908
			c0.167,0.244,0.423,0.448,0.769,0.612c0.346,0.165,0.693,0.247,1.043,0.247c0.304,0,0.596-0.064,0.875-0.193
			s0.513-0.309,0.7-0.537c0.188-0.229,0.325-0.507,0.413-0.831c0.063-0.233,0.094-0.713,0.094-1.438v-5.548h0.922v5.548
			c0,0.821-0.081,1.484-0.241,1.99s-0.481,0.946-0.963,1.321s-1.064,0.563-1.749,0.563c-0.743,0-1.378-0.177-1.908-0.531
			c-0.53-0.354-0.884-0.822-1.063-1.405c-0.113-0.358-0.169-1.004-0.169-1.938V49.744z"/>
		<path d="M233.811,51.453l-0.725,0.557c-0.4-0.521-0.88-0.915-1.44-1.184c-0.561-0.268-1.176-0.402-1.846-0.402
			c-0.733,0-1.412,0.176-2.037,0.527c-0.625,0.353-1.109,0.824-1.453,1.418s-0.516,1.261-0.516,2.002
			c0,1.119,0.384,2.055,1.153,2.804s1.738,1.124,2.908,1.124c1.287,0,2.364-0.505,3.23-1.516l0.725,0.55
			c-0.458,0.584-1.03,1.035-1.715,1.354s-1.451,0.479-2.296,0.479c-1.608,0-2.876-0.535-3.805-1.605
			c-0.779-0.902-1.168-1.994-1.168-3.271c0-1.345,0.472-2.477,1.416-3.395c0.943-0.918,2.125-1.377,3.545-1.377
			c0.858,0,1.633,0.17,2.324,0.509C232.803,50.366,233.37,50.842,233.811,51.453z"/>
		<path d="M235.655,49.744h0.938v3.45l3.683-3.45h1.227l-4.417,4.125l4.76,5.07h-1.229l-4.024-4.287v4.287h-0.938V49.744z"/>
	</g>
	<g>
		<path class="st3" d="M107.94,13.728h-7.188c0.193-4.182,1.507-7.472,3.942-9.87c2.435-2.398,5.56-3.599,9.375-3.599
			c2.355,0,4.435,0.497,6.236,1.489s3.244,2.424,4.325,4.294s1.622,3.772,1.622,5.704c0,2.301-0.655,4.777-1.966,7.43
			s-3.707,5.787-7.189,9.405l-4.353,4.584h13.82v6.844H99.69v-3.532l11.995-12.23c2.9-2.935,4.829-5.294,5.787-7.078
			c0.958-1.783,1.437-3.395,1.437-4.836c0-1.494-0.497-2.729-1.49-3.704s-2.272-1.463-3.836-1.463c-1.582,0-2.9,0.589-3.955,1.767
			C108.573,10.108,108.011,11.707,107.94,13.728z"/>
		<path class="st3" d="M146.709,0.259h7.318v24.938h3.469v6.844h-3.469v7.969h-7.219V32.04h-16.938v-6.844L146.709,0.259z
			 M146.809,25.196V12.214l-8.864,12.982H146.809z"/>
		<path class="st3" d="M166.599,32.478c1.143,0,2.119,0.399,2.927,1.199s1.213,1.771,1.213,2.913s-0.405,2.117-1.213,2.926
			c-0.809,0.808-1.785,1.212-2.927,1.212c-1.143,0-2.119-0.404-2.928-1.212c-0.809-0.809-1.213-1.783-1.213-2.926
			s0.404-2.113,1.213-2.913S165.456,32.478,166.599,32.478z"/>
		<path class="st3" d="M197.623,0.259h7.188v39.75h-7.188v-3.044c-1.407,1.334-2.819,2.294-4.235,2.881
			c-1.416,0.588-2.95,0.882-4.604,0.882c-3.711,0-6.921-1.435-9.63-4.306c-2.709-2.869-4.063-6.438-4.063-10.704
			c0-4.424,1.31-8.05,3.931-10.876c2.621-2.826,5.804-4.239,9.551-4.239c1.724,0,3.342,0.326,4.854,0.978s2.911,1.629,4.195,2.932
			V0.259z M190.041,17.259c-2.228,0-4.079,0.784-5.552,2.353s-2.21,3.579-2.21,6.032c0,2.472,0.75,4.504,2.25,6.099
			s3.346,2.392,5.539,2.392c2.263,0,4.14-0.784,5.631-2.353s2.237-3.623,2.237-6.164c0-2.488-0.746-4.504-2.237-6.045
			C194.207,18.029,192.321,17.259,190.041,17.259z"/>
		<path class="st3" d="M240.807,27.728h-23.13c0.334,2.034,1.226,3.653,2.675,4.854s3.299,1.802,5.549,1.802
			c2.688,0,4.999-0.938,6.932-2.815l6.063,2.852c-1.512,2.146-3.323,3.734-5.432,4.764s-4.614,1.544-7.515,1.544
			c-4.5,0-8.166-1.417-10.996-4.253c-2.83-2.834-4.245-6.385-4.245-10.651c0-4.371,1.411-8.001,4.234-10.889
			c2.822-2.888,6.362-4.332,10.618-4.332c4.52,0,8.195,1.442,11.026,4.327c2.831,2.885,4.247,6.695,4.247,11.43L240.807,27.728z
			 M233.615,22.071c-0.476-1.591-1.415-2.884-2.816-3.88s-3.027-1.495-4.877-1.495c-2.01,0-3.772,0.56-5.288,1.679
			c-0.952,0.699-1.833,1.932-2.644,3.696H233.615z"/>
	</g>
</g>
</svg>
{/literal}