<!--
<script id="cPluginJsHead_arr">
$(document).ready(function(){
setTimeout( function() {
var temp = '';
var scriptone = '';
var scripts = [
{if $Einstellungen.template.general.use_minify === 'N'}
{foreach $cPluginJsHead_arr as $cJS}
'{$cJS}',
{/foreach} {/if}
];
for(s of scripts){
temp = s;
scriptone = document.createElement("script");
scriptone.textContent = '(function() {literal}{{/literal}var po = document.createElement("script");po.type = "text/javascript"; po.async = true;po.src = "'+temp+'";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(po, s);})();';
document.head.appendChild(scriptone);

}
}, 500);
});

</script>


<script id="cJS_arr">
$(document).ready(function(){
setTimeout( function() {
var temp = '';
var scriptone = '';
var scripts = [
{if $Einstellungen.template.general.use_minify === 'N'}
 {foreach $cJS_arr as $cJS}
'{$cJS}',
{/foreach} {/if}
];
for(s of scripts){
temp = s;
scriptone = document.createElement("script");
scriptone.textContent = '(function() {literal}{{/literal}var po = document.createElement("script");po.type = "text/javascript"; po.async = true;po.src = "'+temp+'";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(po, s);})();';
document.head.appendChild(scriptone);

}
}, 1000);
});

</script>



<script id="cPluginJsBody_arr">
$(document).ready(function(){
setTimeout( function() {
var temp = '';
var scriptone = '';
var scripts = [
{if $Einstellungen.template.general.use_minify === 'N'}
{foreach $cPluginJsBody_arr as $cJS}
'{$cJS}',
{/foreach} {/if}
];
for(s of scripts){
temp = s;
scriptone = document.createElement("script");
scriptone.textContent = '(function() {literal}{{/literal}var po = document.createElement("script");po.type = "text/javascript"; po.async = true;po.src = "'+temp+'";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(po, s);})();';
document.head.appendChild(scriptone);

}
}, 1400);
});

</script>




<script id="minifiedJS">
$(document).ready(function(){
setTimeout( function() {
var temp = '';
var scriptone = '';
var scripts = [
{if !$Einstellungen.template.general.use_minify === 'N'}
{foreach $minifiedJS as $item}
'{$item}',
{/foreach} {/if}
];
for(s of scripts){
temp = s;
scriptone = document.createElement("script");
scriptone.textContent = '(function() {literal}{{/literal}var po = document.createElement("script");po.type = "text/javascript"; po.async = true;po.src = "'+temp+'";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(po, s);})();';
document.head.appendChild(scriptone);

}
}, 1800);
});

</script>


-->

