$flag-icon-base-path: "../flags/";

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em
}

.flag-icon:before {
    content: '\00a0'
}

.flag-icon.flag-icon-squared {
    width: 1em
}

.flag-icon-gb {
    background-image: url($flag-icon-base-path + "4x3/gb.svg")
}

.flag-icon-gb.flag-icon-squared {
    background-image: url($flag-icon-base-path + "1x1/gb.svg")
}

.flag-icon-de {
    background-image: url($flag-icon-base-path + "4x3/de.svg")
}

.flag-icon-de.flag-icon-squared {
    background-image: url($flag-icon-base-path + "1x1/de.svg")
}
