// _m-buttons.scss
$buttons: (
        primary: (
                color: #fff,
                background-color: var(--primary),
                border:var(--primary),
                background-color-hover: var(--btnItemBackgroundHover),
                border-hover: var(--btnItemBackgroundHover),
                box-shadow-color: var(--btnItemBoxShadowFocus),
        ),
        secondary: (
                color: #fff,
                background-color: #6c757d,
                border: #6c757d,
                background-color-hover: #5a6268,
                border-hover: #545b62,
                box-shadow-color: hsla(208, 7%, 46%, .5),
        ),
        success: (
                color: #fff,
                background-color: var(--success),
                border: var(--success),
                background-color-hover: #409444,
                border-hover: #3d8b40,
                box-shadow-color: rgba(76, 175, 80, .5),
        ),
        info: (
                color: #fff,
                background-color: #03a9f4,
                border: #038fce,
                background-color-hover: #0286c2,
                border-hover: #3d8b40,
                box-shadow-color: rgba(3, 169, 244, .5),
        ),
        warning: (
                color: #fff,
                background-color: #ff5722,
                border: #ff5722,
                background-color-hover: #fb3c00,
                border-hover: #ee3900,
                box-shadow-color: rgba(255, 87, 34, .5),
        ),
        danger: (
                color: #fff,
                background-color: #f44336,
                border: #f44336,
                background-color-hover: #f22112,
                border-hover: #ea1c0d,
                box-shadow-color: rgba(244, 67, 54, .5),
        ),
        light: (
                color: #212529,
                background-color: #f5f5f5,
                border: #f5f5f5,
                background-color-hover: #e2e2e2,
                border-hover: #dcdcdc,
                box-shadow-color: hsla(0, 0%, 96%, .5),
        ),
        dark: (
                color: #212529,
                background-color: #424242,
                border: #424242,
                background-color-hover: #2f2f2f,
                border-hover: #292929,
                box-shadow-color: rgba(66, 66, 66, .5),
        ),
        default: (
                color: var(--primaryFontColor),
                background-color: var(--themeShade3),
                border: var(--themeShade3),
                background-color-hover: var(--themeShade2),
                border-hover: var(--themeShade2),
                box-shadow-color: rgba(66, 66, 66, .5),
        ),
        transparent: (
                color: var(--primaryFontColor),
                background-color: transparent,
                border: transparent,
                background-color-hover: rgba(66, 66, 66, .25),
                border-hover: transparent,
                box-shadow-color: none,
        ),
);

.btn {
  border-radius: 0;
  @each $name, $colors in $buttons {
    $bgcolor: nth($colors, 1);
    $fontcolor: nth($colors, 2);
    $box-shadow: map-get($colors, "box-shadow-color");

    &-#{$name} {
      color: map-get($colors, "color");
      background-color: map-get($colors, "background-color");
      border-color: map-get($colors, "border");
      @if $box-shadow == "none" {
        box-shadow: none;
      }

      &:hover {
        color: map-get($colors, color);
        background-color: map-get($colors, "background-color-hover");
        border-color: map-get($colors, "border-hover");
      }

      &.focus, &:focus {
        @if $box-shadow == "none" {
          box-shadow: none;
        } @else {
          box-shadow: none, 0 0 0 .2rem $box-shadow;
        }
      }

      &.disabled, &:disabled {
        color: map-get($colors, color);
        background-color: map-get($colors, "background-color");
        border-color: map-get($colors, "border");
      }

      &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active, .show > &.dropdown-toggle {
        color: map-get($colors, color);
        background-color: map-get($colors, "background-color");
        border-color: map-get($colors, "border");
      }
    }
    $name: "-outline-"+ $name;
    &-#{$name} {
      color: map-get($colors, "background-color");
      background-color: transparent;
      background-image: none;
      border-color: map-get($colors, "border");
    }
    &-#{$name}:hover {
      color: map-get($colors, "color");
      background-image: none;
      background-color: map-get($colors, "background-color-hover");
      border-color: map-get($colors, "border-hover");
    }
    &-#{$name}.focus, &-#{$name}:focus {
      @if $box-shadow == "none" {
        box-shadow: none;
      } @else {
        box-shadow: 0 0 0 .2rem $box-shadow;
      }
    }
    &-#{$name}.disabled, &-#{$name}:disabled {
      color: map-get($colors, "background-color");
      background-color: transparent;
    }
    &-#{$name}:not(:disabled):not(.disabled).active, &-#{$name}:not(:disabled):not(.disabled):active, .show > &-#{$name}.dropdown-toggle {
      color: map-get($colors, "color");
      background-color: map-get($colors, "background-color");
      border-color: map-get($colors, "border");
    }
    &-#{$name}:not(:disabled):not(.disabled).active:focus, &-#{$name}:not(:disabled):not(.disabled):active:focus, .show > &-#{$name}.dropdown-toggle:focus {
      @if $box-shadow == "none" {
        box-shadow: none;
      } @else {
        box-shadow: 0 0 0 .2rem $box-shadow;
      }
    }
  }
}
