{extends file="{$parent_template_path}/basket/index.tpl"}

{block name='basket-index-content' prepend}

{literal}

<script type="text/javascript">
    belboonTag = {};
</script>
<script type="text/javascript">    
    (function(d) {
        var s = d.createElement("script"); 
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + 
"//containertags.belboon.com/js/79749/basket/script.js ";
        var a = d.getElementsByTagName("script")[0];
        a.parentNode.insertBefore(s, a);
    }(document));    
</script>


{/literal}

{/block}
