
.card-component {
  background: var(--themeShade4);
  display: flex;
  flex-direction: column;

  & > * {
    padding: 8px 16px;
  }

  .card_header {
    display: flex;
    padding-top: 16px;

    & > .bmd-form-group {
      padding-top: 0!important;
    }

    & > i, & > svg {
      margin: auto 0;
    }

    .card_header_title {
      margin: auto 16px auto 0;
      display: flex;
      flex-direction: column;

      .card_header_title_text {
        font-size: 16px;
        word-break: break-all;
      }

      .card_header_subTitle_text {
        font-size: 14px;
        color: var(--primaryFontColorFaded);
      }
    }

    .card_header_action {
      margin: auto 0 auto auto;
    }
  }
  .card_content {
    font-size: 14px;
  }

  .card_header_image {
    display: flex;
    padding: 8px 0;

    img {
      max-width: 100%;
      margin: auto;
    }
  }

  .card_actions {
    display: flex;
    margin-top: auto;

    button {
      display: flex;
      margin-right: 8px;
    }

    .dropDown-button {
      margin: auto 0 auto auto;
      transition: all 500ms;
    }
  }
}