.chosen-container {
  width: 100% !important;

  .chosen-choices {
    background-color: var(--themeShade2);
    background-image: none;
    padding: .4375rem;
    caret-color: var(--primaryFontColor);

    li.search-choice {
      border: none;
      background-image: none;
      border-radius: 0;
      background-color: var(--themeShade4);
      color: var(--primaryFontColor);
      box-shadow: none;

      .search-choice-close:hover {
        color: var(--primaryFontColor);
        opacity: .75;
        background-position: -42px 1px;
      }
    }
  }

  .chosen-drop {
    background-color: var(--themeShade2);
    margin-bottom: 20px;

    .result-selected {
      color: var(--primaryFontColorFaded);
    }
  }

  .chosen-results {
    li.active-result {
      color: var(--primaryFontColor);
    }

    li.no-results {
      background-color: var(--themeShade2);
      color: var(--primaryFontColor);
      border-radius: 0;
    }

    li.highlighted {
      background-color: var(--themeShade4);
      opacity: 0.75;
      background-image: none;
    }
  }
}

.chosen-container-single .chosen-single, .chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  border-radius: 0;
  background-color: var(--themeShade2);
  color: var(--primaryFontColor);
  box-shadow: none;
  padding: .4375rem;
  font-size: $labelFontSize;
  height: auto;

  .chosen-results {
    font-size: $labelFontSize;
  }
}

.chosen-container > a > div:last-child {
  display: none!important;
}

.chosen-results {
  font-size: $labelFontSize;
}

.chosen-search {
  padding: 0 !important;
  caret-color: var(--primaryFontColor);
}

.chosen-container-single .chosen-search input[type=text] {
  border: none;
  border-top: 1px solid var(--primaryFontColor);
  border-bottom: 1px solid var(--primaryFontColor);
  padding: .4375rem 4px;
  background-position: 100% -20px;
}

.chosen-container-active .chosen-choices li.search-field input[type=text], .chosen-container-single .chosen-search input[type=text] {
  color: var(--primaryFontColor) !important;
}
