.modal-content {
  background-color: var(--themeShade3);
  border-radius: 0;
  padding: 24px;
}

.modal-body {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}

.modal .modal-dialog {
  max-width: 1000px;
}

.modal-content .modal-footer {
  border-top: none;
  padding: 0;
}

.modal-header {
  border-bottom: none;

  .modal-title {
    margin: auto auto auto 0;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

@media (max-width: 576px) {
  .modal {
    .modal-dialog, .modal-content, form {
      margin: 0;
      width: 100vw !important;
      height: 100% !important;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
  }
}
