{extends file="{$parent_template_path}/snippets/categories_mega_recursive.tpl"}

{block name='snippets-categories-mega-recursive'}
    {block name='snippets-categories-mega-recursive-max-subsub-items'}
        {$max_subsub_items="{if $isMobile}5{else}2{/if}"}
    {/block}
    {block name='snippets-categories-mega-recursive-main-link'}
    
               
                           
          
    <div class="menu-item {if $i==1}mi_mobile{else} bordbot{/if}">
     
            {block name=image}
            {if $Einstellungen.template.megamenu.show_category_images != 'N'
                && (!$isMobile || $isTablet) || $i != 1}
                <div class="padd_img">
           <div class="in_image" style=" background-image: url({$mainCategory->getImage()} );">    
           </div>
         
           </div>
            {/if}
           {/block}     
             
              {link href=$mainCategory->getURL()
            class="{if $i!=1}cat_url{/if} categories-recursive-link d-lg-block {if $firstChild}submenu-headline submenu-headline-toplevel{/if} {$subCategory} {if $mainCategory->hasChildren() && $subCategory < $max_subsub_items && $Einstellungen.template.megamenu.show_subcategories !== 'N'}nav-link dropdown-toggle{/if}"
            aria=["expanded"=>"false"]}   
            <span class="item_span text-truncate d-block">
                {$mainCategory->getName()}{* if $mainCategory->hasChildren() && $subCategory >= $max_subsub_items}<span class="more-subcategories">&nbsp;({$mainCategory->getChildren()|count})</span>{/if *}
            </span>
            <div class="mob_disabled top {if $i!=1}top_m{/if}"><i class="fal fa-long-arrow-right" aria-hidden="true"></i></div>
        {/link}
        </div>
    {/block}
    {if $mainCategory->hasChildren() && $Einstellungen.template.megamenu.show_subcategories !== 'N' && $subCategory < $max_subsub_items}
        {block name='snippets-categories-mega-recursive-child-content'}
            <div class="categories-recursive-dropdown dropdown-menu">
                {nav}
                    {block name='snippets-categories-mega-recursive-child-header'}
                        <li class="nav-item d-lg-none">
                            {link href=$mainCategory->getURL() nofollow=true}
                                <strong class="nav-mobile-heading">
                                    {lang key='menuShow' printf=$mainCategory->getName()}
                                </strong>
                            {/link}
                        </li>
                    {/block}
                    {block name='snippets-categories-mega-recursive-child-categories'}
                        {foreach $mainCategory->getChildren() as $category}
                            {if $category->hasChildren() && $subCategory + 1 < $max_subsub_items}
                                {block name='snippets-categories-mega-recursive-child-category-child'}
                                    <li class="nav-item dropdown">
                                        {include file='snippets/categories_mega_recursive.tpl' mainCategory=$category firstChild=false subCategory=$subCategory + 1}
                                    </li>
                                {/block}
                            {else}
                                {block name='snippets-categories-mega-recursivechild-category-no-child'}
                                    {navitem href=$category->getURL()}
                                        <span class="text-truncate d-block">
                                            {$category->getName()}{if $category->hasChildren()}<span class="more-subcategories">&nbsp;({$category->getChildren()|count})</span>{/if}
                                        </span>
                                    {/navitem}
                                {/block}
                            {/if}
                        {/foreach}
                    {/block}
                {/nav}
            </div>
        {/block}
    {/if}
{/block}
